<navbarclient></navbarclient>
<search-bar></search-bar>

<h1 style="background-color:#d5f5e3;">Détail de ma facture n°1</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad maxime doloremque accusamus praesentium enim sapiente rem repellat unde voluptatem id quaerat ab ipsum sed recusandae similique, pariatur, delectus voluptates.</p>