<span>
	<button ng-click="splash(true)" id="moreClient">+ CLIENT</button>
	<span class="overlay" id="splash" ng-if="showForm">
        

	<form name="addClient" ng-submit="moreClient(addClient)" class="newClient">		
		<legend>Introduction d'un nouveau client</legend>
		<label for="particulier" class="intro">Particulier</label>
		<input type="radio" value="particulier" id="particulier" name="client">
		<label for="society"  class="intro">Société</label>
		<input type="radio" value="society" id="society" name="client">

		
		<fieldset>
			<legend>Société</legend>
			<div class="line">
				<label for="ref">Dénomination sociale<br>
					<input type="text" id="ref">
				</label>
				<label for="logo">Logo<br>
					<span>Parcourir</span>
					<input type="file" id="logo">
				</label>
			</div>
			<div class="line">
				<label for="tva">N° de TVA<br>
				<select id="prefixeTva">
					<option value="AT">AT</option>
					<option value="BE" selected="selected">BE</option>
					<option value="BG">BG</option>
					<option value="CY">CY</option>
					<option value="CZ">CZ</option>
					<option value="DE">DE</option>
					<option value="DK">DK</option>
					<option value="EE">EE</option>
					<option value="EL">EL</option>
					<option value="ES">ES</option>
					<option value="FI">FI</option>
					<option value="FR">FR</option>
					<option value="GB">GB</option>
					<option value="HR">HR</option>
					<option value="HU">HU</option>
					<option value="IE">IE</option>
					<option value="IT">IT</option>
					<option value="LT">LT</option>
					<option value="LU">LU</option>
					<option value="LV">LV</option>
					<option value="MT">MT</option>
					<option value="NL">NL</option>
					<option value="PL">PL</option>
					<option value="PT">PT</option>
					<option value="RO">RO</option>
					<option value="SE">SE</option>
					<option value="SI">SI</option>
					<option value="SK">SK</option>
				</select><!--
				--><input type="text" id="tva">
				</label>
				<label for="modeTva">Mode de TVA<br>
				<select id="modeTva"  ng-model="modeTva" ng-options="tva for tva in param[0].vatRate">
				</select>
				</label>
			</div>
			<div class="line"><label for="siren" class="france">N° SIREN<br>
			<input type="text" id="siren" class="france"></label></div>
			<div class="line"><label for="rcs" class="france">N° RCS<br>
			<input type="text" id="rcs" class="france"></label></div>
		</fieldset>
		<label for="step1" class="progress" id="lien1">SUIVANT</label>
		<input type="radio" name="progress" value="step1" id="step1">
		<fieldset>
			<legend>Coordonnées de contact</legend>
			<div class="line">
				<label for="civil">Civilité<br/>
				<select id="civil">
					<option value="Monsieur">Monsieur</option>
					<option value="Madame">Madame</option>
					<option value="Mademoiselle">Mademoiselle</option>
				</select></label>
				<label for="name">Nom<br/>
				<input type="text" id="name"></label>
				<label for="firstName">Prénom<br/>
				<input type="text" id="firstName"></label>
			</div>
			<div class="line">
				<label for="phone1">Téléphone principal<br/>
				<input type="tel" id="phone1"></label>
				<label for="phone2">Téléphone secondaire<br/>
				<input type="tel" id="phone2"></label>
			</div>
			<div class="line">	
				<label for="email">Email<br/>
				<input type="email" id="email"></label>
				<label for="fonction">Fonction<br/>
				<input type="text" id="fonction"></label>
			</div>
		</fieldset>
		<label for="step2" class="progress" id="lien2">SUIVANT</label>
		<input type="radio" name="progress" value="step2" id="step2">
		<fieldset>
			<legend>Coordonnées de facturation</legend>
			<div class="line">
				<label for="civilFact">Civilité<br/>
				<select id="civilFact">
					<option value="Monsieur">Monsieur</option>
					<option value="Madame">Madame</option>
					<option value="Mademoiselle">Mademoiselle</option>
				</select></label>
				<label for="nameFact">Nom<br/>
				<input type="text" id="nameFact"></label>
				<label for="firstNameFact">Prénom<br/>
				<input type="text" id="firstNameFact"></label>
			</div>
			<div class="line">
			<label for="streetFact">Rue<br/>
			<input type="text" id="streetFact"></label>
			<label for="numFact">N°<br>
			<input type="text" id="numFact"></label>
			<label for="boxFact">Bte<br>
			<input type="text" id="boxFact"></label>
			<label for="zipFact">Code Postal<br>
			<input type="text" id="zipFact"></label>
			</div>
			<div class="line">
			<label for="cityFact">Localité<br>
			<input type="text" id="cityFact"></label>
			<label for="countryFact">Pays<br/>
			<select id="countryFact" ng-model="countryFact" ng-options="country for country in param[0].countries">
			</select></label>
			</div>
			<div class="line">
			<label for="phone1Fact">Téléphone principal<br/>
			<input type="tel" id="phone1Fact"></label>
			<label for="phone2Fact">Téléphone secondaire<br/>
			<input type="tel" id="phone2Fact"></label>
			</div>
			<div class="line">
				<label for="emailFact">Email<br/>
				<input type="email" id="emailFact"></label>
				<label for="faxFact">Fax<br>
				<input type="tel" id="faxFact"></label>
			</div>
			<div class="line">
			<label id="delivery">Coordonnées de livraison identiques :</label>
			<label for="same">
			<input type="radio" value="yes" id="same" name="delivery" class="deliver"> Oui</label>
			<label for="different">
			<input type="radio" value="no" id="different" name="delivery" class="deliver"> Non</label>
			
			</div>
		</fieldset>
		<label for="step3" class="progress" id="lien3">SUIVANT</label>
		<input type="radio" name="progress" value="step3" id="step3">
		<fieldset>
			<legend>Coordonnées de livraison</legend>
			<div class="line">
				<label for="civilDeliver">Civilité<br/>
					<select name="Civilité" id="civilDeliver">
				<option value="Monsieur">Monsieur</option>
				<option value="Madame">Madame</option>
				<option value="Mademoiselle">Mademoiselle</option>
			</select></label>
			<label for="nameDeliver">Nom<br/>
			<input type="text" id="nameDeliver"></label>
			<label for="firstNameDeliver">Prénom<br/>
			<input type="text" id="firstNameDeliver"></label>
			</div>
			<div class="line">
				<label for="societyDeliver">Société (si livraison dans une société)<br>
				<input type="text" id="societyDeliver"></label>
			</div>
			<div class="line">
				<label for="streetDeliver">Rue<br/>
				<input type="text" id="streetDeliver"></label>
				<label for="numDeliver">N°<br>
				<input type="text" id="numDeliver"></label>
				<label for="boxDeliver">Bte<br>
				<input type="text" id="boxDeliver"></label>
				<label for="zipDeliver">Code Postal<br>
				<input type="text" id="zipDeliver"></label>
			</div>
			<div class="line">
				<label for="cityDeliver">Localité<br>
				<input type="text" id="cityDeliver"></label>
				<label for="countryDeliver">Pays<br/>
				<select id="countryDeliver" ng-model="countryDeliver" ng-options="country for country in param[0].countries">
				</select></label>
			</div>
			<div class="line">
				<label for="phone1Deliver">Téléphone<br/>
				<input type="tel" id="phone1Deliver"></label>
				<label for="phone2Deliver">Téléphone secondaire<br/>
				<input type="tel" id="phone2Deliver"></label>
			</div>
			<div class="line">
				<label for="emailDeliver">Email<br/>
				<input type="email" id="emailDeliver"></label>
				<label for="faxDeliver">Fax<br>
				<input type="tel" id="faxDeliver"></label>	
			</div>

		</fieldset>
		<label for="step4" class="progress" id="lien4">SUIVANT</label>
		<input type="radio" name="progress" value="step4" id="step4">
		<fieldset>
			<legend>Note relative au client</legend>
			<div class="line note">
				<textarea id="note"></textarea>
			</div>
		</fieldset>

		<button type="reset" id="cancel" class="progress">ANNULER</button>
		<button type="submit" id="submit" class="progress">VALIDER</button>
        <img src="../images/close.svg" alt="close" ng-click="splash(false)">
	</form>
	</div>
</div>