<div class="container">
	<section>
		<!-- <addinvoice></addinvoice> -->
		        <div class="blue2"></div> 
		        <div class="search">          
		            <input type="text" class="searchArea" ng-model='filter' placeholder="Recherche: Entreprise,Date,N° facture">
		            <!-- <button>
		            	<img src="images/recherche.jpg" alt="search" />
		            </button> -->
		            <p>Ordonner par</p>
		            <label class="labelArrow">
		                <select name="" id="">
		                    <option value="">Entreprise</option>
		                    <option value="">Date</option>
		                    <option value="">Numéro de facture</option>
		                </select>
		            </label>
		            <!-- <label for="croissant"><input type="radio" name="order" id="croissant" value="Croissant" checked>Croissant</label>
		            <label for="decroissant"><input type="radio" name="order" id="decroissant" value="Décroissant">  Décroissant</label> -->
		        </div> <!-- Fin de search -->
	</section>
</div>
