$focusColor: #e5af28;
$mainBackgroundColor: #95a0ac;
$navColor: #cad0d6;
$descriptionColor: #7c8894;
$primaryColor: #2a4158;
$textColor:#e3e4e6;
$footer:#16202c;
@mixin navButton{
        margin-top: 20px;
        margin-left: 15px;
}


// @mixin animateLogArrows {
// 	{
//         -webkit-animation: arrowAnim 0.5s 1 forwards;
//         animation: arrowAnim 0.5s 1 forwards;
//         @-webkit-keyframes arrowAnim {
//             0% {
//                 -webkit-transform: scaleY(-1);
//                 -ms-transform: scaleY(-1);
//                 -o-transform: scaleY(-1);
//                 transform: scaleY(-1);
//             }
//             100% {
//                 -webkit-transform: scaleY(1);
//                 -ms-transform: scaleY(1);
//                 -o-transform: scaleY(1);
//                 transform: scaleY(1);
//             }
//         }

//         @keyframes arrowAnim {
//             0% {
//                 -webkit-transform: scaleY(-1);
//                 -ms-transform: scaleY(-1);
//                 -o-transform: scaleY(-1);
//                 transform: scaleY(-1);
//             }
//             100% {
//                 -webkit-transform: scaleY(1);
//                 -ms-transform: scaleY(1);
//                 -o-transform: scaleY(1);
//                 transform: scaleY(1);
//             }
//         }   
//     }
// }
