@import "compass";
@import "grids";
@import "variables";

$noteColor:#485867;
$listElementPadding:15px 5px 15px 10px;

.addElemBtn {
	display: none;
	background-color: $focusColor;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px;
}

.listItem {
	background-color: $noteColor;
	background-color: aliceblue;
	@include span(11 of 12);
	margin:10px;
	position: relative;

	.blocItem {
		padding: 0px;
		text-align:left;
		.blocNumber {
			font-size: 16px;
		}
		.blocName {
			font-size: 16px;
		}
		.blocDate {
			font-size: 12px;
		}
		.itemDatas {
			@include span(12 of 12);
			padding:5px 5px 5px 10px;
			display: inline-block;
			background-color: $noteColor;
			color: $textColor;
			border-right: 1px solid $primaryColor;
			font-weight: bold;
			text-align: left;
			margin-right: 0px;
			overflow:hidden;
			text-transform: capitalize;
		}
		.focusItem {
			display: none;
			background-color: $mainBackgroundColor;
		}
	}
}
.moreInfos {
	background-color: $focusColor;
	color: $primaryColor;
	position: absolute;
	display: inline-block;
	padding: 15px;
	top: 10px;
	right: 10px;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
.titleItem {
	display: inline-block;
	width: 90px;
	text-align: left;
}

@media screen and (min-width: 480px) {
	.addElemBtn {
		margin-top: 15px;
		display: inline-block;
		background-color: $focusColor;
		text-transform: uppercase;
		font-weight: bold;
		padding: 15px;
	}
	.listItem {
		background-color: $noteColor;	
		// @include span(10 of 12);
		width: 612px;
		// width: 742px;
		display: inline-block;
		float: left;
		margin:0px;
		margin-left: 198px;
		margin-bottom: 10px;
		
		.blocItem {
			list-style-type: none;
			font-size: 12px;
			background-color: $mainBackgroundColor;	
			padding: 0px;
			.blocNumber {
				font-size: 12px;
			}
			.blocName {
				font-size: 12px;
			}
			.blocDate {
				font-size: 12px;
			}
			.itemDatas {
				@include span(3.15 of 12);
				padding:$listElementPadding;
				display: inline-block;
				background-color: $noteColor;
				color: $textColor;
				border-right: 1px solid $primaryColor; 
				font-weight: bold;
				text-align: left;
				margin-right: 0px;
				overflow:hidden;
				text-transform: capitalize;
			}
			.focusItem {
				display: block;
				background-color: $mainBackgroundColor;
			}
			
		}
		.listNote {
			height: 50%;
			padding: 15px;
			padding-top: 10px;
			padding-left: 20px;
			background-color: $noteColor;
			color: $textColor;
			font-size: 12px;
			p {
				overflow: hidden;
				width: 100%;
				line-height: 20px;
				height: 20px;
			}
		}
		// .reveal {
		// 	display: block;
		// 	background-color: $noteColor;
		// 	color: $textColor;
		// 	width: 100%;
		// 	height: 19px;
		// 	text-align: center;
		// 	border: none;
		// 	border-top: 1px solid $primaryColor;

		// 	transition: 0.5s;
		// 	&:hover {
		// 		background-color: $textColor;
		// 		color: $primaryColor;
		// 	}
		// }
	}

	.moreInfos {
		float: right;
		display: inline-block;
		// margin-top: 17px;
		background-color: $focusColor;
		color: $primaryColor;
		font-weight: bold;
		font-size: 12px;
		 // @include span(2 of 12);
		 padding: $listElementPadding;
		display: inline-block;
		margin-right: 0px;
		text-align: center;
		right: -100px;
		top: 0px;

		text-decoration: none;
		transition: 0.5s;
		&:hover {
			background-color: $textColor;

		}
	}
	.titleItem {
		display: none;
	}
}