@import "compass";
@import "grids";
@import "variables";


.detailClient {

	text-align: left;

	p, h2 {

		color: $primaryColor;
	}

.warpper {

	width: 940px;
	height: auto;
	margin: 0 auto; 
}

.contner {

	width: 742px;
	height: auto;
	z-index: 1;
	float: right;
	margin-top: 117px;
}


.contenu {

  background-color: $mainBackgroundColor;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
    

}  


  img {
	
	width: 92px;
	height: 92px;
	margin-top: 10px;
	margin-left: 10px;
	width: 92px;
	height: 92px;
	float: left;

  }



.nom {

  margin-left: 20px;
  margin-top: 16px;
  width: 330px;
  float: left;
  height: 87px;

  	p {
  		
  		margin-bottom: 7px;
  		font-size: 18px;  
  		font-weight: bold;
  		text-transform: uppercase;
  	} 

  	p:last-child {

  		font-size: 14px;
  		margin-top: 12px;

  	}

}


.telephone {

  font-size: 12px; 
  font-weight: bold; 
  margin-top: 16px;
  margin-left: 20px;  
  display: inline-block;  
  width: 270px;
  height: 87px;
  
  p {
  		
  		margin-bottom: 10px;
  	} 

}



.facturation {

	
	width: 100%;
	height: auto;
	margin-top: 28px;
	width: 722px;
	margin-left: 10px;
}

.livraison {
	
	width: 100%;	
	height: auto;
	width: 722px;
	margin-top: 10px;
	margin-left: 10px;
	
}

.livraison, .facturation {

	border-top: 1px solid $primaryColor;

	h2 {

		padding-top: 10px;
		font-weight: bold;

	}
}

.colone1, .colone2, .colone3 {

	width: 237px;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;

		p {

			font-size: 14px;
		}

	

	


}


.colone1 {	
	

	p {

	font-size: 16px;

	}
	
	


}


}


