@import "compass";
@import "grids";
@import "variables";


.profilePro {


.warpper {

	width: 940px;
	height: auto;
	margin: 0 auto;

	}

.contener {

	width: 742px;
  	height: 1550px;
	z-index: 1;
	float: right;
	margin-top: 117px;	
}

.coordonnee, .coordonnee2 {

	height: 46px;
	width: auto;
	background-color: $focusColor;
	float: left;
	padding-right: 10px;

	img {

		width: 28px; 
		height: 28px;
		float: left;
		margin-top: 7px;
		margin-left: 7px;
	}

	p {
	
		font-weight: bold;
		font-size: 14px;
		margin-top: 14px;
		color: $primaryColor;
		float: left;
		margin-left: 7px;

	}
}

.coordonneeCont, .coordonneeCont1, .coordonneeCont2, .coordonneeCont3, .coordonneeCont4, .coordonneeCont5 {

	background-color: $mainBackgroundColor;
	width: 100%;
	height: 212px;
	float: left;
	display: block;

	img {

		width: 90px;
		height: 90px;
		float: left;
		margin-top: 14px;
		margin-left: 22px;
	}
}

	 .nomentreprise { 
	
		font-weight: bold;
		font-size: 18px;
		margin-top: 13px;
		color: $primaryColor;
		float: left;
		
		margin-left: 17px;

	}

	.info {

		display: block;
		width: 315px;			
		float: left;

		p:first-child {
	
		font-weight: bold;
		font-size: 18px;
		margin-top: 13px;
		color: $primaryColor;
		float: left;
		margin-left: 17px;

	}
		

		p {

		font-weight: bold;
		font-size: 13px;
		margin-top: 40px;
		color: $primaryColor;
		text-align: justify;
		line-height: 15px;
		margin-left: 17px;
		}

	}
	

	.tva, .bic {

		display: inline-block;	
		float: left;		

		p {

		font-weight: bold;
		font-size: 13px;
		margin-top: 40px;
		color: $primaryColor;
		text-align: justify;
		line-height: 15px;
		

			
			 

		}
	}

.savecoordonnee, .savecoordonnee1, .savecoordonnee2, .savecoordonnee3, .savecoordonnee4, .savecoordonnee5 {

	width: 94px;
	height: 20px;
	background-color: $focusColor;
	float: right;
	margin-top: 178px;
	margin-right: 15px;	

	p {

		color: $primaryColor;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 4px;
		font-weight: bold;

	}

}

.coordonneeCont1 {

	height: 172px;
}

.savecoordonnee1 {

	margin-top: 178px;
	
}

.coordonneeCont2 {

	height: 108px;
}


.coordonnee2 {

	margin-top: 15px;
}

.info2 {

	display: block;
	width: 360px;			
	float: left;
	margin-top: 13px;
	margin-left: 17px;

	

	p {

		font-weight: bold;
		font-size: 13px;		
		color: $primaryColor;
		text-align: justify;
		line-height: 19px;
				
	}

	fieldset {


		text-align: left;

		label,  {
			font-size: 12px;
			font-family: "century gothic";
			font-weight: bold;
			color: $primaryColor;
		}

		input, select {

			margin-top: 5px;
			background-color: $descriptionColor;
			color: white;
			border: none;
			

		}
	}

}

.coordonneeCont3 {

	height: auto;
	padding-bottom: 20px;
}

.savecoordonnee2 {

	margin-top: 100px;
}


.importer, .ajouter {

	float: left;
	
	width: 90px;
	height: 25px;
	background-color: $focusColor;
	margin-top: 10px;
	margin-left: 17px;

	img {

		height: 20px;
		width: 25px;
		float: left;
		margin-top: 3px;
		margin-left: 3px;
	}

	p {

		font-weight: bold;
		font-size: 13px;		
		color: $primaryColor;
		text-align: justify;
		line-height: 15px;
		margin-left: 6px;
		margin-top: 4px;		
		float: left;	
	}
}

.importer {

	margin-left: 0px;
}


.bic {
	
	p {

		margin-top: 25px;
}
	}

.payement1 {

	float: left;
	display: block;
	width: 100%;
	height: auto;	

	p {

		font-weight: bold;
		font-size: 13px;		
		color: $primaryColor;
		text-align: justify;
		line-height: 15px;
		margin-left: 17px;
		margin-top: 4px;		
		float: left;
	}
}

.ajouter {

	p:first-child {

		font-size: 32px;
	}
}

.savecoordonnee3 {

	margin-top: 28px;
}

.article {

	width: 100%;
	height: auto;

	p {
		
		margin-top: 20px;
		display: inline-block;
		margin-right: 219px;
		float: right;
		padding-left: 17px;
		color: $primaryColor;
		font-weight: bold;
		font-size: 14px;
	}

	p:first-child {

		margin-right: 50px;
	}
}

.articletitle {

	width: 279px;
	height: auto;
	display: inline-block;
	float: left;

	p {

		float: left;
		padding-left: 17px;
		margin-top: 10px;
		width: 100%;
		text-align: left;
	}
	
}


.articledesc {

	width: 313px;
	height: auto;
	display: inline-block;
	


	p {

		float: left;
		padding-left: 13px;
		margin-top: 10px;
		width: 100%;
		text-align: left;
	}

}

.articleprix {

	width: 135px;
	height: auto;	
	display: inline-block;	
	

	p {

		float: left;
		padding-left: 5px;
		margin-top: 10px;
		width: 100%;
		text-align: left;
	}
	
}

.coordonneeCont4 {

	height: auto;
	padding-bottom: 20px;
}

.savecoordonnee4 {

	margin-top: 41px;
}


.savecoordonnee5 {

	margin-top: 9px;
}

.facture {

	display: block;
	width: 150px;			
	
	height: auto;	

	p {

		font-weight: bold;
		font-size: 13px;
		margin-top: 25px;
		color: $primaryColor;
		text-align: justify;
		line-height: 15px;
		margin-left: 17px;		
	}

}


.designfacture {

	width: 300px;
	height: 25px;	
	margin-top: 10px;
	margin-left: 17px;	

}


.devis {

	
	
	width: 150px;
	height: auto;
	margin-top: 15px;	

	p {

		font-weight: bold;
		font-size: 13px;		
		color: $primaryColor;
		text-align: left;
		line-height: 15px;
		margin-left: 17px;
		margin-top: 4px;		
		float: left;
	}
}


.designdevis {

	width: 300px;
	height: 25px;	
	margin-top: 42px;
	margin-left: 17px;	
}

.f01, .f02, .f03, .f04, .f05, .f06, .f07, .f08, .f09,.f10 {

	width: 20px;
	height: 20px;
	margin-right: 6px;
	display: inline-block;
	border: 2px solid $navColor; 
} 

.f01 {
	background-color: #000000;

}
.f02 {
	background-color: #696969;
}
.f03 {
	background-color: #046381;
}
.f04 {
	background-color: #2b4158;
}
.f05 {
	background-color: #97ca2d;
}
.f06 {
	background-color: #006401;
}
.f07 {
	background-color: #550288;
}
.f08 {
	background-color: #b9121a;
}
.f09 {
	background-color: #f89d19;
}
.f10 {
	background-color: #e5b028;
}
	
.coordonneeCont5 {

	height: 186px;
}
	


}

