// Screen
// ======

@import "compass";
@import "grids";
@import "_variables";

html {box-sizing: border-box;
	font-family: "century Gothic", arial, sans-serif;}
	*, *:before, *:after {box-sizing: inherit;}

	button {position: relative;
			z-index: 100;
	}
	.overlay {
		display: flex;
		position: fixed;
		top: 0;
		bottom: 0; 
		left: 0; 
		right: 0;		
		background-color: rgba(0,0,0,0.5);
	}

	.newClient{
		color: $primaryColor;
		position: relative;
		height: 410px; 
		width: 650px;
		background-color: $mainBackgroundColor;
		margin: auto; 
		align-self: center;
		text-align: center;
		img {
			position: absolute;
			top: -25px;
			right: -25px;
			width: 25px;
			height: 25px;
			cursor: pointer;
		}
		input{
			color: $primaryColor;
		}
		.intro{
			height: 30px;
			width: 220px;
			color: $navColor;
			background-color: $primaryColor;
			margin: auto;
			text-align: center;
			line-height: 30px;
		}
		fieldset{
			display: none;
			background-color: $mainBackgroundColor;
			position: absolute;
			top: 0; 
			left: 0;
			height: 100%;
			width: 100%;
			border: none;
			margin: 0;
		}
		:-moz-any(label[for="logo"]){
			height: 42.5px;
		}
		legend{
			background-color: $mainBackgroundColor;
			text-align: center;
			font-weight: bold;
			margin: auto;
			width: 100%;
			display: block;
			padding: 5%;

		}
		label{
			display: inline-block;
			font-style: italic;
			text-align: left;
		}
		select, input{
			height: 21px;
		}
		.line {
			@include container(75%);
			label {margin-top: 2%;}
			label, input, select {
				width: 100%;
			}			
			label[for="tva"], label[for="ref"] {
				@include span(7.5 of 10);
			}
			label[for="modeTva"], label[for="logo"] {
				@include span(2.5 of 10 last);
			}
			label[for="civil"], label[for="name"] {
				@include span(3.333 of 10);
			}
			label[for="firstName"] {
				@include span(3.333 of 10 last);
			}
			label[for="phone1"], label[for="email"] {
				@include span(5 of 10);
			}
			label[for="phone2"] {
				@include span(5 of 10 last);
			}
			label[for="fonction"] {
				display: none;
			}
			#prefixeTva {
				width: 12%;
			}
			#tva {
				width: 88%;
			}
			label[for="logo"]{
				position: relative;
				span {
					color: $navColor;
					position: absolute;
					line-height: 21px;
					bottom: 0;
					text-align: center;
					background-color: $primaryColor;
					display: block;
					width: 100%;
				}
			}
		}
		input[type="file"] {
			outline: none;
			position: relative;
			z-index: 1;
			opacity: 0;
		}
		button {position: absolute;
				bottom: 10%;
				color: $navColor;
				background-color: $primaryColor;
				border: none;
				height: 22px;
				width: 15%;
				&#prev, &#cancel {
					left: 12.5%;
				}
				&#next, &#submit {
					right: 12.5%;
				}
		}
		input[name="client"], input[name="button"], button{
			display: none;
		}
		input[value="particulier"]:checked ~ fieldset:nth-of-type(2) {
		 	display: inline-block;
		}
		input[name="client"]:checked ~ #cancel{
			display: inline-block;
		}
		input[name="client"]:checked ~ #next{
			display: inline-block;
		}
		input[value="society"]:checked ~ fieldset:nth-of-type(1) {
		 	display: inline-block;
		}

	}