@import "compass";
@import "grids";
@import "variables";
html {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

.container {
    @include container(420px);
    h2 {
        font-size: 24px;
        color: $primaryColor;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    > div {
        background: $mainBackgroundColor;
        width: 300px;
        height: 200px;
        text-align: center;
        margin-bottom:30px;
        margin-left: 60px;
        > p {
            display: none;
        }
    }
}

body {
    background: $primaryColor;
    font-family: "century gothic", arial, sans-serif;
    text-align: center;
}

.logo img {
    width: 300px;
    margin: 60px 0px;
}

.client {
    &.active {
        background: $focusColor;
        color: white;
    }

}

.pro {
    height: 260px;

}

@media screen and (min-width: 480px) {
    .logoHeader {
        position: fixed;
        width: 100%;
        background-color: #e5af28;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: left;
        z-index: 150;
        img {
            margin-top: 5px;
        }
    }
    .client {
        @include span(3 of 6);
        text-align: center;
        position: relative;
    }
    .or {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        color: $textColor;
        left: calc(100% - (80px /3));
        top: calc(50% - 40px);
        z-index: 100;
        background: $primaryColor;
    }
    .container {
        @include container(940px);
        > div {
            @include span(3 of 6);
            padding: 10px;
            position: relative;
            margin-left: 0;
            height: 200px;

            img {
                margin-bottom: 50px;
                margin-top: 0px;
            }
            &.pro {
                @include last;
                background: $mainBackgroundColor;
                color: $primaryColor;
            }
        > p {
            display: unset;
        }
        }
        a {
            text-decoration: none;
            color: $primaryColor;
        }
        h2 {
            margin-top:0px;
            font-size: 24px;
        }
    }
}