@import "compass";
@import "grids";
@import "variables";

html {
    @include box-sizing(border-box);
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    background: $primaryColor;
    font-family: "century gothic", arial, sans-serif;
    text-align: center;
}

body * {
    font-family: "century gothic", arial, sans-serif;
}

.container {

    @include container(420px);
    h2 {
        font-size: 24px;
        color: $primaryColor;
        // color: white;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    > div {
        // background: $mainBackgroundColor;
        width: 300px;
        height: 200px;
        text-align: center;
        margin-bottom:30px;
        margin-left: 60px;
        > p {
            display: none;
        }
    }
}

// .category{ 
//      @include container; 
//      text-align: center;
//      background-color: hotpink;
//      }
//     .category a {
//     @include span(6 of 12);    
//     background: $descriptionColor;
//     color: $primaryColor;
//     text-transform: uppercase;
//     display: block;
//     text-decoration: none;
//     font-size: 2em;
//     padding: 30px 0;
//     margin-bottom: 70px;
//     &.active{
//         background: $focusColor;
//         color: $primaryColor;
//     }
//     &:last-child{
//         @include last;
//     }
// }


.logo img {
    width: 300px;
    margin: 60px 0px;
}

.logoHeader {
    position: fixed;
    width: 100%;
    background-color: #e5af28;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: left;
    z-index: 150;
    img {
        margin-top: 5px;
        margin-left: 10px;
    }
}

.logoLogin{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0 15px;

    img {
        padding: 0 15px;
    }
}

.formulaire{
    visibility: visible;
    @include span(12 of 12);
    // @include pre(3 of 12);
    text-align: center;
    
    color: $textColor;
    input{
        width: 80%;
        margin-bottom: 20px;
        border: none;
        padding: 9px 0;
        padding-left: 7px;
        background: $textColor;
    }
    // a{
    //     background: $focusColor;
    //     color: $primaryColor;
    //     text-decoration: none;
    //     width: 100%;
    //     text-transform: uppercase;
    //     display: block;
    //     padding: 14px 0;
        
    // }
    .connection {
        text-transform: uppercase;
        padding: 20px 0;
        background-color: $primaryColor;
        color: white;
    }
    a {
        margin-left: 80px;
    }
}



button {
    width: 100%;
    height: 100%;
    // background-color: $focusColor;
    border: none;
    &:hover {
        cursor:pointer;
    }

    img {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

        // &:hover {
        //     -webkit-animation: arrowAnim 0.5s 1 forwards;
        //     animation: arrowAnim 0.5s 1 forwards;
        //     @-webkit-keyframes arrowAnim {
        //         0% {
        //             -webkit-transform: scaleY(-1);
        //             -ms-transform: scaleY(-1);
        //             -o-transform: scaleY(-1);
        //             transform: scaleY(-1);
        //         }
        //         100% {
        //             -webkit-transform: scaleY(1);
        //             -ms-transform: scaleY(1);
        //             -o-transform: scaleY(1);
        //             transform: scaleY(1);
        //         }
        //     }

        //     @keyframes arrowAnim {
        //         0% {
        //             -webkit-transform: scaleY(-1);
        //             -ms-transform: scaleY(-1);
        //             -o-transform: scaleY(-1);
        //             transform: scaleY(-1);
        //         }
        //         100% {
        //             -webkit-transform: scaleY(1);
        //             -ms-transform: scaleY(1);
        //             -o-transform: scaleY(1);
        //             transform: scaleY(1);
        //         }
        //     }  
        // }
        
    }
}

// .client {

//     &.active {
//         background: $focusColor!important;
//         color: white;
//     }

// }

// .pro {
//     height: 260px;

// }

.or {
    display: none;
    visibility: hidden;
}

.client {
    .active {
        background-color: $focusColor!important;
        visibility: visible;
        -webkit-transition: background-color 0.5s, visibility 0.5s;
        -o-transition: background-color 0.5s, visibility 0.5s;
        transition: background-color 0.5s, visibility 0.5s;
        img {
            &:hover {
            -webkit-animation: arrowAnim 0.5s 1 forwards;
            animation: arrowAnim 0.5s 1 forwards;
            @-webkit-keyframes arrowAnim {
                0% {
                    -webkit-transform: scaleY(-1);
                    -ms-transform: scaleY(-1);
                    -o-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                100% {
                    -webkit-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }

            @keyframes arrowAnim {
                0% {
                    -webkit-transform: scaleY(-1);
                    -ms-transform: scaleY(-1);
                    -o-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                100% {
                    -webkit-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }   
            }
        }
    }
    .inactive {
        background-color: $textColor;
        visibility: visible;
    }
    .formulaire {
        &.inactive {
            visibility: hidden;
        }
        &.active {
            margin-bottom: 50px;
        }
    }
}
.pro {
    // @include last;
    color: $primaryColor;
    .active {
        background-color: $focusColor!important;
        visibility: visible;
        -webkit-transition: background-color 0.5s, visibility 0.5s;
        -o-transition: background-color 0.5s, visibility 0.5s;
        transition: background-color 0.5s, visibility 0.5s;
        img {
            &:hover {
            -webkit-animation: arrowAnim 0.5s 1 forwards;
            animation: arrowAnim 0.5s 1 forwards;
            @-webkit-keyframes arrowAnim {
                0% {
                    -webkit-transform: scaleY(-1);
                    -ms-transform: scaleY(-1);
                    -o-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                100% {
                    -webkit-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }

            @keyframes arrowAnim {
                0% {
                    -webkit-transform: scaleY(-1);
                    -ms-transform: scaleY(-1);
                    -o-transform: scaleY(-1);
                    transform: scaleY(-1);
                }
                100% {
                    -webkit-transform: scaleY(1);
                    -ms-transform: scaleY(1);
                    -o-transform: scaleY(1);
                    transform: scaleY(1);
                }
            }   
            }
        }
    }
    .inactive {
        background-color: $textColor;
        visibility: visible;
    }
    .formulaire {
        &.inactive {
            visibility: hidden;
        }
        &.active {
            margin-bottom: 50px;
        }
    }
}




@media screen and (min-width: 480px) {
    .logoHeader {
        position: fixed;
        width: 100%;
        background-color: #e5af28;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: left;
        z-index: 150;
        img {
            margin-top: 5px;
            margin-left: 0px;
        }
    }

    // .category {
    //     @include container;
    //     text-align: center;
    // }
    // .category a {
    //     @include span(6 of 12);
    //     margin-left: 0;
    //     &.active {
    //         background: $focusColor;
    //         color: $primaryColor;
    //     }
    //     &:last-child {
    //         @include last;
    //     }
    // }
    .logo {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .logoLogin{
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 80px;
        padding: 0 15px;
    }
    .formulaire {

        @include span(12 of 12);
        // @include pre(3 of 12);
        // background-color: $focusColor;
        padding: 50px 0;
        border-top: 1px solid $primaryColor;
        input {
            @include span(10 of 12);
            @include pre(1 of 12);
            margin-bottom: 20px;
            padding: 9px 0;
            padding-left: 7px;
            background: $textColor;

        }
    .connection {
            text-transform: uppercase;
            padding: 20px 0;
            background-color: $primaryColor;
            color: white;
        }
        a {
            margin-left: 80px;
        }
    }

    .client {
        @include span(3 of 6);
        text-align: center;
        // position: relative;
    }
    .or {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        color: $textColor;
        left: calc(50% - 40px);
        top: 300px;
        z-index: 100;
        background: $primaryColor;
    }
    .container {
        .listing {
            padding-top:190px;
            padding-bottom:190px;
        }
        @include container(940px);

        > div {
            @include span(3 of 6);
            // padding: 10px;
            // position: relative;
            margin-left: 0;
            height: 200px;
            
            img {
                margin-bottom: 20px;
                margin-top: 0px;
            }
            &.client {
                .active {
                    background-color: $focusColor!important;
                    visibility: visible;
                }
                .inactive {
                    background-color: $textColor;
                    
                }
            }
            &.pro {
                @include last;
                color: $primaryColor;
                .active {
                    background-color: $focusColor;
                    visibility: visible;
                }
                .inactive {
                    background-color: $textColor;
                    
                }
            }
            > p {
                display: unset;
            }
        }
        a {
            text-decoration: none;
            color: $primaryColor;
        }
        h2 {
            margin-top:0px;
            font-size: 24px;
        }
    }
}
