@import "compass";
@import "grids";
@import "variables";
html {
  @include box-sizing(border-box);
}
*, *:before, *:after {
  @include box-sizing(inherit);
}

body{
    background: $primaryColor;
    font-family: "century gothic",arial, sans-serif;
    text-align: center;
}
.logo{
    margin: auto;
    margin-bottom: 80px;
    margin-top:50px;
   
    
}

.client{
    @include span(3 of 6);
    text-align: center;
    position: relative;
    &.active{
        background: $focusColor;
        color: white;
    }
    
}
p{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: $textColor;
    left: calc(100% - (80px /3) );
    top: calc(50% - 40px);
    z-index: 100;
    background: $primaryColor;
}
.container {
    @include container(940px);
    
> div{
    @include span(3 of 6);    
    padding: 10px;
    position: relative;
    img{
        margin-bottom: 50px;
        margin-top: 20px;
    }
    &.pro{
    @include last;
    
    background:$mainBackgroundColor;
    color: $primaryColor;
}
}
a{
        text-decoration: none;
         color: $primaryColor;
}  
h2{
    font-size: 1.6em;
    margin-top: 50px;
    margin-bottom:30px;

}     
}
