@import "compass";
@import "grids";
@import "variables";
html {
  @include box-sizing(border-box);
}
*, *:before, *:after {
  @include box-sizing(inherit);
}
.container{
    @include container(940px);
}
body{
    background: $primaryColor;
    font-family: "century gothic",arial, sans-serif;
}
.blue{
    background: $primaryColor;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;

}
.logo{
    width: 100%;
    background: $focusColor;
    padding: 10px 0;
    position: fixed;
    top: 40px;

}

.navigation{
    margin-top: 5px;
    display: inline-block;
    height: 300px;
    background: $mainBackgroundColor;
    @include span(11.75 of 24);
    &:hover{
        background: $focusColor;
    }
    &:last-child{
        // @include last;
        margin-right: 0;
    }
    a{
    text-decoration: none;
    text-transform: uppercase;
    color: $primaryColor;
    text-align: center;
       
    }
    h2{
    margin-top: 20px; 
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 2px solid $primaryColor;
    }
    img{
        margin: auto;
        display: block;
        color: $primaryColor;
        padding-bottom: 20px;
    }
}

#off{
    float: right;
    margin-right: 10px;
}

.foot{
    background: $footer;
    color: #fff;
    height: 70px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    padding-top: 25px;
    z-index: 1000;
    .copyright {
        opacity: 0.6;
    }
    
}

@media screen and (min-width: 480px) {

    .navigation{
        margin-top: 140px;
        display: inline-block;
        height: 300px;
        background: $mainBackgroundColor;
        @include span(3 of 12);
        &:hover{
            background: $focusColor;
        }
        &:last-child{
            // @include last;
            margin-right: 0;
        }
        a{
        text-decoration: none;
        text-transform: uppercase;
        color: $primaryColor;
        text-align: center;
           
        }
        h2{
        margin-top: 20px; 
        margin-bottom: 30px;
        padding-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        border-bottom: 2px solid $primaryColor;
        }
        img{
            margin: auto;
            display: block;
            color: $primaryColor;
            padding-bottom: 20px;
        }
    }

    #off{
        float: right;
        margin-right: 0px;
    }
}