/* line 4, ../sass/addInvoice.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/addInvoice.scss */
.contener {
  max-width: 742px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.contener:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../sass/addInvoice.scss */
.addInvoice {
  margin: auto;
  margin-left: 198px;
  margin-top: 180px;
  background: #95a0ac;
  text-transform: capitalize;
}

/* line 19, ../sass/addInvoice.scss */
fieldset {
  border: 1px solid #2a4158;
  width: 100%;
  padding: 0 10%;
}
/* line 23, ../sass/addInvoice.scss */
fieldset legend {
  margin-bottom: 20px;
}

/* line 29, ../sass/addInvoice.scss */
.references input {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  background: green;
}
/* line 32, ../sass/addInvoice.scss */
.references input:last-child {
  float: right;
  margin-right: 0;
}

/* line 39, ../sass/addInvoice.scss */
.ref_client #client {
  margin: auto;
}

/* line 44, ../sass/addInvoice.scss */
.cent {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 48, ../sass/addInvoice.scss */
.half {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 53, ../sass/addInvoice.scss */
.half:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 56, ../sass/addInvoice.scss */
.half select {
  width: 100%;
  display: block;
}
/* line 60, ../sass/addInvoice.scss */
.half input {
  width: 100%;
  display: block;
}

/* line 65, ../sass/addInvoice.scss */
.last {
  float: right;
  margin-right: 0;
}

/* line 68, ../sass/addInvoice.scss */
.next {
  margin-top: 20px;
  margin-left: 15px;
  width: 90px;
  float: right;
  background: #2a4158;
  color: white;
  text-transform: uppercase;
}

/* line 76, ../sass/addInvoice.scss */
#po {
  text-transform: capitalize;
}
