/* line 4, ../sass/addInvoice.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/addInvoice.scss */
.contener {
  max-width: 742px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.contener:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 12, ../sass/addInvoice.scss */
.addInvoice {
  margin: auto;
  margin-left: 198px;
  margin-top: 180px;
  background: #95a0ac;
  text-transform: capitalize;
}

/* line 20, ../sass/addInvoice.scss */
fieldset {
  border: 1px solid #2a4158;
  width: 100%;
  padding: 0 10%;
}
/* line 24, ../sass/addInvoice.scss */
fieldset legend {
  margin-bottom: 20px;
}

/* line 30, ../sass/addInvoice.scss */
.references input {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  background: green;
}
/* line 33, ../sass/addInvoice.scss */
.references input:last-child {
  float: right;
  margin-right: 0;
}

/* line 40, ../sass/addInvoice.scss */
.ref_client #client {
  margin: auto;
}

/* line 45, ../sass/addInvoice.scss */
.cent {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 49, ../sass/addInvoice.scss */
.half {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 54, ../sass/addInvoice.scss */
.half:nth-child(2) {
  float: right;
  margin-right: 0;
}
/* line 57, ../sass/addInvoice.scss */
.half select {
  width: 100%;
  display: block;
}
/* line 61, ../sass/addInvoice.scss */
.half input {
  width: 100%;
  display: block;
}

/* line 67, ../sass/addInvoice.scss */
.last {
  float: right;
  margin-right: 0;
}

/* line 71, ../sass/addInvoice.scss */
.next {
  margin-top: 20px;
  margin-left: 15px;
  width: 90px;
  float: right;
  background: #2a4158;
  color: white;
  text-transform: uppercase;
}

/* line 80, ../sass/addInvoice.scss */
#po {
  text-transform: capitalize;
}

/* line 84, ../sass/addInvoice.scss */
.facture {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 86, ../sass/addInvoice.scss */
.facture .article {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 88, ../sass/addInvoice.scss */
.facture .article label {
  display: block;
}
/* line 92, ../sass/addInvoice.scss */
.facture .description {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 94, ../sass/addInvoice.scss */
.facture .description label {
  display: block;
}
/* line 97, ../sass/addInvoice.scss */
.facture .description input {
  width: 120px;
}
/* line 102, ../sass/addInvoice.scss */
.facture .small {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
}
/* line 104, ../sass/addInvoice.scss */
.facture .small label {
  display: block;
}
/* line 107, ../sass/addInvoice.scss */
.facture .small input {
  width: 40px;
}
/* line 111, ../sass/addInvoice.scss */
.facture .bill {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
/* line 113, ../sass/addInvoice.scss */
.facture .bill label {
  display: block;
}
