/* line 8, ../sass/client_invoice_list.scss */
.listItem {
  margin-top: 17px;
  background-color: #e5af28;
  width: 572px;
  display: inline-block;
  float: left;
  margin-left: 198px;
}
/* line 17, ../sass/client_invoice_list.scss */
.listItem .blocItem {
  list-style-type: none;
  font-size: 12px;
  background-color: #95a0ac;
}
/* line 31, ../sass/client_invoice_list.scss */
.listItem .blocItem .itemDatas {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  padding: 15px 5px 15px 10px;
  display: inline-block;
  background-color: #485867;
  color: #e3e4e6;
  border-right: 1px solid black;
  font-weight: bold;
  text-align: center;
  text-align: left;
  margin-right: 0px;
  overflow: hidden;
}
/* line 43, ../sass/client_invoice_list.scss */
.listItem .blocItem .itemDatas:last-child {
  margin-right: 0;
}

/* line 81, ../sass/client_invoice_list.scss */
.moreInfos {
  float: right;
  margin-top: 17px;
  background-color: #e5af28;
  color: #2a4158;
  font-weight: bold;
  font-size: 12px;
  padding: 15px 5px 15px 10px;
  display: inline-block;
  width: 152px;
  margin-right: 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
/* line 97, ../sass/client_invoice_list.scss */
.moreInfos:hover {
  background-color: #e3e4e6;
}
