/* line 11, ../sass/edit_profile.scss */
.editProfilPro input, .editProfilPro select {
  background-color: #cad0d6;
  border: none;
  color: #2a4158;
  padding-left: 5px;
  margin-bottom: 7px;
  margin-left: 5px;
}
/* line 22, ../sass/edit_profile.scss */
.editProfilPro .info {
  width: 330px;
}
/* line 27, ../sass/edit_profile.scss */
.editProfilPro .tva {
  margin-top: 10px;
}
/* line 34, ../sass/edit_profile.scss */
.editProfilPro .contactCont p {
  margin-top: 14px;
  padding-bottom: 0px;
}
/* line 40, ../sass/edit_profile.scss */
.editProfilPro .contactCont img {
  background-color: none;
}
/* line 52, ../sass/edit_profile.scss */
.editProfilPro .templateCont {
  padding-top: 0px;
}
/* line 57, ../sass/edit_profile.scss */
.editProfilPro .designfacture, .editProfilPro .designdevis {
  width: 361px;
}
/* line 67, ../sass/edit_profile.scss */
.editProfilPro .paymentCont li {
  display: block;
  width: 300px;
}
/* line 73, ../sass/edit_profile.scss */
.editProfilPro .paymentCont ul {
  margin-left: 11px;
}
/* line 78, ../sass/edit_profile.scss */
.editProfilPro .paymentCont label {
  font-weight: normal;
}
/* line 83, ../sass/edit_profile.scss */
.editProfilPro .paymentCont span {
  font-weight: bold;
}
