/* line 4, ../sass/exemple2.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/exemple2.scss */
body {
  font-family: "century gothic", arial, sans-serif;
}

/* line 12, ../sass/exemple2.scss */
.container {
  max-width: 2260px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 16, ../sass/exemple2.scss */
.head {
  margin-bottom: 20px;
  border-bottom: 2px solid #2a4158;
}

/* line 22, ../sass/exemple2.scss */
.enterprise img {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  height: auto;
}
/* line 26, ../sass/exemple2.scss */
.enterprise ul {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
/* line 28, ../sass/exemple2.scss */
.enterprise ul li {
  font-size: 12px;
}
/* line 30, ../sass/exemple2.scss */
.enterprise ul li:first-child {
  font-size: 16px;
}
/* line 35, ../sass/exemple2.scss */
.enterprise .num_facture {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

/* line 40, ../sass/exemple2.scss */
.info_client {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
