/* line 5, ../sass/profilpro.scss */
.profilePro {
  padding-left: 55px;
}

/* line 8, ../sass/profilpro.scss */
.coordonnee, .contact, .paymentInfos, .articleInfos, .template {
  background-color: #e5af28;
  padding: 15px 0px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../sass/profilpro.scss */
.coordonnee h2, .contact h2, .paymentInfos h2, .articleInfos h2, .template h2 {
  color: #2a4158;
  font-weight: bold;
}

/* line 17, ../sass/profilpro.scss */
.warpper {
  color: #e3e4e6;
}
/* line 19, ../sass/profilpro.scss */
.warpper .coordonnee {
  display: none;
}
/* line 23, ../sass/profilpro.scss */
.warpper .coordonneeCont img {
  margin-top: 80px;
}
/* line 26, ../sass/profilpro.scss */
.warpper .coordonneeCont h3 {
  font-size: 48px;
  text-transform: capitalize;
  margin: 20px 0;
}
/* line 31, ../sass/profilpro.scss */
.warpper .coordonneeCont p {
  font-size: 16px;
  line-height: 25px;
}
/* line 37, ../sass/profilpro.scss */
.warpper .contactCont h3 {
  margin-top: 70px;
  font-size: 24px;
  text-transform: capitalize;
}
/* line 42, ../sass/profilpro.scss */
.warpper .contactCont p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 50px;
}
/* line 50, ../sass/profilpro.scss */
.warpper .paymentCont .paymentListInfos ul {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 25px;
}
/* line 60, ../sass/profilpro.scss */
.warpper .articleCont .articletitle {
  display: none;
}
/* line 63, ../sass/profilpro.scss */
.warpper .articleCont .articletitle ul li {
  background-color: none;
}
/* line 70, ../sass/profilpro.scss */
.warpper .articleCont .article1 ul {
  margin-bottom: 30px;
}
/* line 72, ../sass/profilpro.scss */
.warpper .articleCont .article1 ul li {
  font-size: 16px;
  line-height: 25px;
}
/* line 80, ../sass/profilpro.scss */
.warpper .templateCont {
  clear: both;
  padding-bottom: 150px;
  padding-top: 30px;
}
/* line 84, ../sass/profilpro.scss */
.warpper .templateCont h3 {
  margin-top: 30px;
  font-size: 24px;
  text-transform: capitalize;
}

@media screen and (min-width: 480px) {
  /* line 97, ../sass/profilpro.scss */
  .profilePro {
    text-align: left;
  }
  /* line 101, ../sass/profilpro.scss */
  .profilePro p, .profilePro h2, .profilePro h3, .profilePro span {
    text-align: left;
  }
  /* line 107, ../sass/profilpro.scss */
  .profilePro .warpper {
    color: #2a4158;
    width: 883px;
    height: auto;
    margin: 0 auto;
  }
  /* line 115, ../sass/profilpro.scss */
  .profilePro .contener {
    width: 742px;
    height: auto;
    z-index: 1;
    float: right;
    margin-top: 117px;
    padding-bottom: 120px;
  }
  /* line 125, ../sass/profilpro.scss */
  .profilePro .coordonnee, .profilePro .contact, .profilePro .paymentInfos, .profilePro .articleInfos, .profilePro .template {
    height: 46px;
    width: 230px;
    background-color: #e5af28;
    float: left;
    margin-top: 15px;
    padding: 0;
  }
  /* line 133, ../sass/profilpro.scss */
  .profilePro .coordonnee img, .profilePro .contact img, .profilePro .paymentInfos img, .profilePro .articleInfos img, .profilePro .template img {
    width: 28px;
    height: 28px;
    float: left;
    margin-top: 9px;
    margin-left: 7px;
  }
  /* line 142, ../sass/profilpro.scss */
  .profilePro .coordonnee h2, .profilePro .contact h2, .profilePro .paymentInfos h2, .profilePro .articleInfos h2, .profilePro .template h2 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 17px;
    color: #2a4158;
    float: left;
    margin-left: 7px;
  }
  /* line 154, ../sass/profilpro.scss */
  .profilePro .coordonnee {
    margin-top: 0px;
  }
  /* line 159, ../sass/profilpro.scss */
  .profilePro .coordonneeCont, .profilePro .contactCont, .profilePro .paymentCont, .profilePro .articleCont, .profilePro .templateCont {
    background-color: #95a0ac;
    width: 100%;
    height: auto;
    float: left;
    display: block;
    padding-bottom: 15px;
  }
  /* line 168, ../sass/profilpro.scss */
  .profilePro .coordonneeCont img, .profilePro .contactCont img, .profilePro .paymentCont img, .profilePro .articleCont img, .profilePro .templateCont img {
    width: 92px;
    height: 92px;
    float: left;
    margin-top: 14px;
    margin-left: 20px;
    background-color: #e5af28;
  }
  /* line 179, ../sass/profilpro.scss */
  .profilePro .info {
    display: block;
    width: 315px;
    float: left;
  }
  /* line 185, ../sass/profilpro.scss */
  .profilePro .info h3 {
    margin-left: 17px;
    margin-top: 14px;
    font-weight: bold;
    font-size: 15px;
  }
  /* line 196, ../sass/profilpro.scss */
  .profilePro .info p {
    font-size: 13px;
    margin-top: 14px;
    color: #2a4158;
    text-align: justify;
    line-height: 20px;
    margin-left: 17px;
  }
  /* line 211, ../sass/profilpro.scss */
  .profilePro .tva {
    display: inline-block;
    width: 275px;
    height: auto;
    margin-left: 20px;
    margin-top: 14px;
  }
  /* line 220, ../sass/profilpro.scss */
  .profilePro .tva p {
    font-size: 13px;
    color: #2a4158;
    line-height: 20px;
  }
  /* line 230, ../sass/profilpro.scss */
  .profilePro .contactCont {
    height: auto;
  }
  /* line 235, ../sass/profilpro.scss */
  .profilePro .contactCont p, .profilePro .contactCont h3 {
    width: 702px;
    height: auto;
    margin-left: 20px;
    line-height: 20px;
    font-size: 13px;
  }
  /* line 246, ../sass/profilpro.scss */
  .profilePro .contactCont h3 {
    margin-top: 14px;
    font-weight: bold;
    font-size: 15px;
  }
  /* line 289, ../sass/profilpro.scss */
  .profilePro .paymentCont ul {
    margin-left: 20px;
    margin-top: 14px;
  }
  /* line 295, ../sass/profilpro.scss */
  .profilePro .paymentCont li {
    display: inline-block;
    margin-right: 20px;
    width: 218px;
    height: auto;
    text-align: top;
    font-size: 13px;
  }
  /* line 306, ../sass/profilpro.scss */
  .profilePro .paymentCont li:last-child {
    margin-right: 0px;
  }
  /* line 311, ../sass/profilpro.scss */
  .profilePro .paymentCont li:first-child {
    font-weight: bold;
  }
  /* line 318, ../sass/profilpro.scss */
  .profilePro .payment1 {
    margin-top: 10px;
  }
  /* line 327, ../sass/profilpro.scss */
  .profilePro .articleCont .articletitle {
    display: block;
  }
  /* line 329, ../sass/profilpro.scss */
  .profilePro .articleCont .articletitle li {
    font-weight: bold;
  }
  /* line 335, ../sass/profilpro.scss */
  .profilePro .articleCont ul {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  /* line 342, ../sass/profilpro.scss */
  .profilePro .articleCont li {
    display: inline-block;
    margin-right: 20px;
    width: 277px;
    height: auto;
    text-align: top;
    margin-top: 14px;
    font-size: 13px;
  }
  /* line 355, ../sass/profilpro.scss */
  .profilePro .articleCont li:last-child {
    width: 100px;
    height: auto;
    margin-right: 0px;
    text-align: right;
  }
  /* line 365, ../sass/profilpro.scss */
  .profilePro .fact, .profilePro .dev {
    width: 200px;
    position: relative;
  }
  /* line 373, ../sass/profilpro.scss */
  .profilePro .fact h3, .profilePro .dev h3 {
    margin-left: 20px;
    margin-top: 14px;
    font-weight: bold;
    font-size: 15px;
  }
  /* line 383, ../sass/profilpro.scss */
  .profilePro .designfacture {
    width: 300px;
    height: 25px;
    margin-top: 12px;
    margin-left: 17px;
  }
  /* line 394, ../sass/profilpro.scss */
  .profilePro .designdevis {
    width: 300px;
    height: 25px;
    margin-top: 12px;
    margin-left: 17px;
    text-align: left;
    display: inline-block;
  }
  /* line 406, ../sass/profilpro.scss */
  .profilePro .f01, .profilePro .f02, .profilePro .f03, .profilePro .f04, .profilePro .f05, .profilePro .f06, .profilePro .f07, .profilePro .f08, .profilePro .f09, .profilePro .f10 {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    display: inline-block;
    border: 2px solid #cad0d6;
  }
  /* line 415, ../sass/profilpro.scss */
  .profilePro .f01 {
    background-color: #000000;
  }
  /* line 419, ../sass/profilpro.scss */
  .profilePro .f02 {
    background-color: #696969;
  }
  /* line 422, ../sass/profilpro.scss */
  .profilePro .f03 {
    background-color: #046381;
  }
  /* line 425, ../sass/profilpro.scss */
  .profilePro .f04 {
    background-color: #2b4158;
  }
  /* line 428, ../sass/profilpro.scss */
  .profilePro .f05 {
    background-color: #97ca2d;
  }
  /* line 431, ../sass/profilpro.scss */
  .profilePro .f06 {
    background-color: #006401;
  }
  /* line 434, ../sass/profilpro.scss */
  .profilePro .f07 {
    background-color: #550288;
  }
  /* line 437, ../sass/profilpro.scss */
  .profilePro .f08 {
    background-color: #b9121a;
  }
  /* line 440, ../sass/profilpro.scss */
  .profilePro .f09 {
    background-color: #f89d19;
  }
  /* line 443, ../sass/profilpro.scss */
  .profilePro .f10 {
    background-color: #e5b028;
  }
}
