/* line 5, ../sass/profilclient.scss */
.myProfileClientwarpper {
  width: 940px;
  height: auto;
  margin: 0 auto;
}

/* line 13, ../sass/profilclient.scss */
.myProfileClient {
  width: 742px;
  height: 1200px;
  float: right;
  background-color: #95a0ac;
  text-align: left;
  margin-top: 117px;
  position: relative;
}
/* line 24, ../sass/profilclient.scss */
.myProfileClient img {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  margin-left: 22px;
  display: inline-block;
  float: left;
}
/* line 34, ../sass/profilclient.scss */
.myProfileClient label {
  font-size: 14px;
}
/* line 39, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child {
  height: 150px;
}
/* line 43, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=civil] {
  margin-top: 16px;
  margin-left: 15px;
  display: inline-block;
  float: left;
}
/* line 51, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child select[id=civil] {
  display: inline-block;
  margin-left: 5px;
  margin-top: -4px;
}
/* line 58, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=name] {
  margin-left: 15px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 66, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child input[id=name] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 73, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=firstName] {
  margin-left: 15px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 81, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child input[id=firstName] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 88, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child .telephoneEmail {
  width: 342px;
  height: auto;
  float: right;
  display: inline-block;
  position: relative;
  top: -107px;
}
/* line 99, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=phone] {
  margin-left: 15px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 107, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child input[id=phone] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 114, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=email] {
  margin-left: 15px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 122, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child input[id=email] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 129, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child label[for=phone2] {
  margin-left: 15px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 137, ../sass/profilclient.scss */
.myProfileClient fieldset:first-child input[id=phone2] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 146, ../sass/profilclient.scss */
.myProfileClient .barre1 {
  width: 696px;
  height: 1px;
  margin: 0 auto;
  background-color: #2a4158;
  margin-top: 30px;
}
/* line 156, ../sass/profilclient.scss */
.myProfileClient label[for=civil] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 164, ../sass/profilclient.scss */
.myProfileClient select[id=civil] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 171, ../sass/profilclient.scss */
.myProfileClient label[for=name] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 179, ../sass/profilclient.scss */
.myProfileClient input[id=name] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 186, ../sass/profilclient.scss */
.myProfileClient label[for=firstName] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 194, ../sass/profilclient.scss */
.myProfileClient input[id=firstName] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 202, ../sass/profilclient.scss */
.myProfileClient .colone1 {
  width: 259px;
  height: auto;
  background-color: red;
  display: inline-block;
  position: relative;
  top: -110px;
  right: -240px;
}
/* line 214, ../sass/profilclient.scss */
.myProfileClient label[for=num] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 222, ../sass/profilclient.scss */
.myProfileClient input[id=num] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 229, ../sass/profilclient.scss */
.myProfileClient label[for=box] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 237, ../sass/profilclient.scss */
.myProfileClient input[id=box] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 244, ../sass/profilclient.scss */
.myProfileClient label[for=zip] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 252, ../sass/profilclient.scss */
.myProfileClient input[id=zip] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 259, ../sass/profilclient.scss */
.myProfileClient label[for=city] {
  margin-left: 23px;
  margin-top: 17px;
  float: left;
  display: inline-block;
}
/* line 267, ../sass/profilclient.scss */
.myProfileClient input[id=city] {
  display: inline;
  margin-top: -4px;
  margin-left: 5px;
}
/* line 274, ../sass/profilclient.scss */
.myProfileClient .colone2 {
  width: 259px;
  height: auto;
  background-color: red;
  display: inline-block;
  position: relative;
  top: -110px;
  right: -240px;
}
