/* line 9, ../sass/profilpro.scss */
.profilePro .warpper {
  width: 940px;
  height: auto;
  margin: 0 auto;
}
/* line 17, ../sass/profilpro.scss */
.profilePro .contener {
  width: 742px;
  height: 1550px;
  z-index: 1;
  float: right;
  margin-top: 117px;
}
/* line 26, ../sass/profilpro.scss */
.profilePro .coordonnee, .profilePro .coordonnee2 {
  height: 46px;
  width: auto;
  background-color: #e5af28;
  float: left;
  padding-right: 10px;
}
/* line 34, ../sass/profilpro.scss */
.profilePro .coordonnee img, .profilePro .coordonnee2 img {
  width: 28px;
  height: 28px;
  float: left;
  margin-top: 7px;
  margin-left: 7px;
}
/* line 43, ../sass/profilpro.scss */
.profilePro .coordonnee p, .profilePro .coordonnee2 p {
  font-weight: bold;
  font-size: 14px;
  margin-top: 14px;
  color: #2a4158;
  float: left;
  margin-left: 7px;
}
/* line 55, ../sass/profilpro.scss */
.profilePro .coordonneeCont, .profilePro .coordonneeCont1, .profilePro .coordonneeCont2, .profilePro .coordonneeCont3, .profilePro .coordonneeCont4, .profilePro .coordonneeCont5 {
  background-color: #95a0ac;
  width: 100%;
  height: 212px;
  float: left;
  display: block;
}
/* line 63, ../sass/profilpro.scss */
.profilePro .coordonneeCont img, .profilePro .coordonneeCont1 img, .profilePro .coordonneeCont2 img, .profilePro .coordonneeCont3 img, .profilePro .coordonneeCont4 img, .profilePro .coordonneeCont5 img {
  width: 90px;
  height: 90px;
  float: left;
  margin-top: 14px;
  margin-left: 22px;
}
/* line 73, ../sass/profilpro.scss */
.profilePro .nomentreprise {
  font-weight: bold;
  font-size: 18px;
  margin-top: 13px;
  color: #2a4158;
  float: left;
  margin-left: 17px;
}
/* line 85, ../sass/profilpro.scss */
.profilePro .info {
  display: block;
  width: 315px;
  float: left;
}
/* line 91, ../sass/profilpro.scss */
.profilePro .info p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-top: 13px;
  color: #2a4158;
  float: left;
  margin-left: 17px;
}
/* line 103, ../sass/profilpro.scss */
.profilePro .info p {
  font-weight: bold;
  font-size: 13px;
  margin-top: 40px;
  color: #2a4158;
  text-align: justify;
  line-height: 15px;
  margin-left: 17px;
}
/* line 117, ../sass/profilpro.scss */
.profilePro .tva, .profilePro .bic {
  display: inline-block;
  float: left;
}
/* line 122, ../sass/profilpro.scss */
.profilePro .tva p, .profilePro .bic p {
  font-weight: bold;
  font-size: 13px;
  margin-top: 40px;
  color: #2a4158;
  text-align: justify;
  line-height: 15px;
}
/* line 138, ../sass/profilpro.scss */
.profilePro .savecoordonnee, .profilePro .savecoordonnee1, .profilePro .savecoordonnee2, .profilePro .savecoordonnee3, .profilePro .savecoordonnee4, .profilePro .savecoordonnee5 {
  width: 94px;
  height: 20px;
  background-color: #e5af28;
  float: right;
  margin-top: 178px;
  margin-right: 15px;
}
/* line 147, ../sass/profilpro.scss */
.profilePro .savecoordonnee p, .profilePro .savecoordonnee1 p, .profilePro .savecoordonnee2 p, .profilePro .savecoordonnee3 p, .profilePro .savecoordonnee4 p, .profilePro .savecoordonnee5 p {
  color: #2a4158;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: bold;
}
/* line 159, ../sass/profilpro.scss */
.profilePro .coordonneeCont1 {
  height: 172px;
}
/* line 164, ../sass/profilpro.scss */
.profilePro .savecoordonnee1 {
  margin-top: 178px;
}
/* line 170, ../sass/profilpro.scss */
.profilePro .coordonneeCont2 {
  height: 108px;
}
/* line 176, ../sass/profilpro.scss */
.profilePro .coordonnee2 {
  margin-top: 15px;
}
/* line 181, ../sass/profilpro.scss */
.profilePro .info2 {
  display: block;
  width: 360px;
  float: left;
  margin-top: 13px;
  margin-left: 17px;
}
/* line 191, ../sass/profilpro.scss */
.profilePro .info2 p {
  font-weight: bold;
  font-size: 13px;
  color: #2a4158;
  text-align: justify;
  line-height: 19px;
}
/* line 201, ../sass/profilpro.scss */
.profilePro .info2 fieldset {
  text-align: left;
}
/* line 206, ../sass/profilpro.scss */
.profilePro .info2 fieldset label {
  font-size: 12px;
  font-family: "century gothic";
  font-weight: bold;
  color: #2a4158;
}
/* line 213, ../sass/profilpro.scss */
.profilePro .info2 fieldset input, .profilePro .info2 fieldset select {
  margin-top: 5px;
  background-color: #7c8894;
  color: white;
  border: none;
}
/* line 226, ../sass/profilpro.scss */
.profilePro .coordonneeCont3 {
  height: auto;
  padding-bottom: 20px;
}
/* line 232, ../sass/profilpro.scss */
.profilePro .savecoordonnee2 {
  margin-top: 100px;
}
/* line 238, ../sass/profilpro.scss */
.profilePro .importer, .profilePro .ajouter {
  float: left;
  width: 90px;
  height: 25px;
  background-color: #e5af28;
  margin-top: 10px;
  margin-left: 17px;
}
/* line 248, ../sass/profilpro.scss */
.profilePro .importer img, .profilePro .ajouter img {
  height: 20px;
  width: 25px;
  float: left;
  margin-top: 3px;
  margin-left: 3px;
}
/* line 257, ../sass/profilpro.scss */
.profilePro .importer p, .profilePro .ajouter p {
  font-weight: bold;
  font-size: 13px;
  color: #2a4158;
  text-align: justify;
  line-height: 15px;
  margin-left: 6px;
  margin-top: 4px;
  float: left;
}
/* line 270, ../sass/profilpro.scss */
.profilePro .importer {
  margin-left: 0px;
}
/* line 278, ../sass/profilpro.scss */
.profilePro .bic p {
  margin-top: 25px;
}
/* line 284, ../sass/profilpro.scss */
.profilePro .payement1 {
  float: left;
  display: block;
  width: 100%;
  height: auto;
}
/* line 291, ../sass/profilpro.scss */
.profilePro .payement1 p {
  font-weight: bold;
  font-size: 13px;
  color: #2a4158;
  text-align: justify;
  line-height: 15px;
  margin-left: 17px;
  margin-top: 4px;
  float: left;
}
/* line 306, ../sass/profilpro.scss */
.profilePro .ajouter p:first-child {
  font-size: 32px;
}
/* line 312, ../sass/profilpro.scss */
.profilePro .savecoordonnee3 {
  margin-top: 28px;
}
/* line 317, ../sass/profilpro.scss */
.profilePro .article {
  width: 100%;
  height: auto;
}
/* line 322, ../sass/profilpro.scss */
.profilePro .article p {
  margin-top: 20px;
  display: inline-block;
  margin-right: 219px;
  float: right;
  padding-left: 17px;
  color: #2a4158;
  font-weight: bold;
  font-size: 14px;
}
/* line 334, ../sass/profilpro.scss */
.profilePro .article p:first-child {
  margin-right: 50px;
}
/* line 340, ../sass/profilpro.scss */
.profilePro .articletitle {
  width: 279px;
  height: auto;
  display: inline-block;
  float: left;
}
/* line 347, ../sass/profilpro.scss */
.profilePro .articletitle p {
  float: left;
  padding-left: 17px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
/* line 359, ../sass/profilpro.scss */
.profilePro .articledesc {
  width: 313px;
  height: auto;
  display: inline-block;
}
/* line 367, ../sass/profilpro.scss */
.profilePro .articledesc p {
  float: left;
  padding-left: 13px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
/* line 378, ../sass/profilpro.scss */
.profilePro .articleprix {
  width: 135px;
  height: auto;
  display: inline-block;
}
/* line 385, ../sass/profilpro.scss */
.profilePro .articleprix p {
  float: left;
  padding-left: 5px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
/* line 396, ../sass/profilpro.scss */
.profilePro .coordonneeCont4 {
  height: auto;
  padding-bottom: 20px;
}
/* line 402, ../sass/profilpro.scss */
.profilePro .savecoordonnee4 {
  margin-top: 41px;
}
/* line 408, ../sass/profilpro.scss */
.profilePro .savecoordonnee5 {
  margin-top: 9px;
}
/* line 413, ../sass/profilpro.scss */
.profilePro .facture {
  display: block;
  width: 150px;
  height: auto;
}
/* line 420, ../sass/profilpro.scss */
.profilePro .facture p {
  font-weight: bold;
  font-size: 13px;
  margin-top: 25px;
  color: #2a4158;
  text-align: justify;
  line-height: 15px;
  margin-left: 17px;
}
/* line 434, ../sass/profilpro.scss */
.profilePro .designfacture {
  width: 300px;
  height: 25px;
  margin-top: 10px;
  margin-left: 17px;
}
/* line 444, ../sass/profilpro.scss */
.profilePro .devis {
  width: 150px;
  height: auto;
  margin-top: 15px;
}
/* line 452, ../sass/profilpro.scss */
.profilePro .devis p {
  font-weight: bold;
  font-size: 13px;
  color: #2a4158;
  text-align: left;
  line-height: 15px;
  margin-left: 17px;
  margin-top: 4px;
  float: left;
}
/* line 466, ../sass/profilpro.scss */
.profilePro .designdevis {
  width: 300px;
  height: 25px;
  margin-top: 42px;
  margin-left: 17px;
}
/* line 474, ../sass/profilpro.scss */
.profilePro .f01, .profilePro .f02, .profilePro .f03, .profilePro .f04, .profilePro .f05, .profilePro .f06, .profilePro .f07, .profilePro .f08, .profilePro .f09, .profilePro .f10 {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  display: inline-block;
  border: 2px solid #cad0d6;
}
/* line 483, ../sass/profilpro.scss */
.profilePro .f01 {
  background-color: #000000;
}
/* line 487, ../sass/profilpro.scss */
.profilePro .f02 {
  background-color: #696969;
}
/* line 490, ../sass/profilpro.scss */
.profilePro .f03 {
  background-color: #046381;
}
/* line 493, ../sass/profilpro.scss */
.profilePro .f04 {
  background-color: #2b4158;
}
/* line 496, ../sass/profilpro.scss */
.profilePro .f05 {
  background-color: #97ca2d;
}
/* line 499, ../sass/profilpro.scss */
.profilePro .f06 {
  background-color: #006401;
}
/* line 502, ../sass/profilpro.scss */
.profilePro .f07 {
  background-color: #550288;
}
/* line 505, ../sass/profilpro.scss */
.profilePro .f08 {
  background-color: #b9121a;
}
/* line 508, ../sass/profilpro.scss */
.profilePro .f09 {
  background-color: #f89d19;
}
/* line 511, ../sass/profilpro.scss */
.profilePro .f10 {
  background-color: #e5b028;
}
/* line 515, ../sass/profilpro.scss */
.profilePro .coordonneeCont5 {
  height: 186px;
}
