/* line 8, ../sass/splash.scss */
html {
  box-sizing: border-box;
  font-family: "century Gothic", arial, sans-serif;
}

/* line 10, ../sass/splash.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, ../sass/splash.scss */
#moreClient {
  position: fixed;
  z-index: 999;
  background-color: #e5af28;
  color: #2a4158;
  border: none;
  height: 22px;
  width: 100px;
  cursor: pointer;
}
/* line 20, ../sass/splash.scss */
#moreClient::first-letter {
  font-size: 22px;
  font-weight: bold;
}

/* line 25, ../sass/splash.scss */
.overlay {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 36, ../sass/splash.scss */
.newClient {
  color: #2a4158;
  position: relative;
  height: 410px;
  width: 650px;
  background-color: #95a0ac;
  margin: auto;
  align-self: center;
  text-align: center;
}
/* line 45, ../sass/splash.scss */
.newClient img {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* line 53, ../sass/splash.scss */
.newClient input {
  color: #2a4158;
}
/* line 56, ../sass/splash.scss */
.newClient .intro {
  height: 30px;
  width: 220px;
  color: #cad0d6;
  background-color: #2a4158;
  margin: auto;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
/* line 66, ../sass/splash.scss */
.newClient fieldset {
  display: none;
  background-color: #95a0ac;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
}
/* line 77, ../sass/splash.scss */
.newClient :-moz-any(label[for="logo"]) {
  height: 37px;
}
/* line 80, ../sass/splash.scss */
.newClient legend {
  background-color: #95a0ac;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
  display: block;
  padding: 3%;
}
/* line 90, ../sass/splash.scss */
.newClient label {
  display: inline-block;
  font-style: italic;
  text-align: left;
}
/* line 95, ../sass/splash.scss */
.newClient select, .newClient input {
  height: 21px;
}
/* line 98, ../sass/splash.scss */
.newClient .line {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.newClient .line:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 100, ../sass/splash.scss */
.newClient .line label {
  margin-top: 2%;
}
/* line 101, ../sass/splash.scss */
.newClient .line label, .newClient .line input, .newClient .line select {
  width: 100%;
}
/* line 104, ../sass/splash.scss */
.newClient .line .delivery {
  text-align: left;
  width: initial;
  vertical-align: top;
}
/* line 109, ../sass/splash.scss */
.newClient .line label[for="tva"], .newClient .line label[for="ref"] {
  width: 74.4898%;
  float: left;
  margin-right: 2.04082%;
}
/* line 112, ../sass/splash.scss */
.newClient .line label[for="modeTva"], .newClient .line label[for="logo"] {
  width: 23.46939%;
  float: right;
  margin-right: 0;
}
/* line 115, ../sass/splash.scss */
.newClient .line label[for="civil"], .newClient .line label[for="name"], .newClient .line label[for="civilFact"], .newClient .line label[for="nameFact"], .newClient .line label[for="civilDeliver"], .newClient .line label[for="nameDeliver"] {
  width: 31.96939%;
  float: left;
  margin-right: 2.04082%;
}
/* line 118, ../sass/splash.scss */
.newClient .line label[for="firstName"], .newClient .line label[for="firstNameFact"], .newClient .line label[for="firstNameDeliver"] {
  width: 31.96939%;
  float: right;
  margin-right: 0;
}
/* line 121, ../sass/splash.scss */
.newClient .line label[for="phone1"], .newClient .line label[for="email"], .newClient .line label[for="cityFact"], .newClient .line label[for="phone1Fact"], .newClient .line label[for="emailFact"], .newClient .line label[for="cityDeliver"], .newClient .line label[for="phone1Deliver"], .newClient .line label[for="emailDeliver"] {
  width: 48.97959%;
  float: left;
  margin-right: 2.04082%;
}
/* line 124, ../sass/splash.scss */
.newClient .line label[for="streetFact"], .newClient .line label[for="streetDeliver"] {
  width: 59.18367%;
  float: left;
  margin-right: 2.04082%;
}
/* line 127, ../sass/splash.scss */
.newClient .line label[for="numFact"], .newClient .line label[for="boxFact"], .newClient .line label[for="numDeliver"], .newClient .line label[for="boxDeliver"] {
  width: 5.61224%;
  float: left;
  margin-right: 2.04082%;
}
/* line 130, ../sass/splash.scss */
.newClient .line label[for="zipFact"], .newClient .line label[for="zipDeliver"] {
  width: 23.46939%;
  float: right;
  margin-right: 0;
}
/* line 133, ../sass/splash.scss */
.newClient .line label[for="phone2"], .newClient .line label[for="countryFact"], .newClient .line label[for="phone2Fact"], .newClient .line label[for="faxFact"], .newClient .line label[for="countryDeliver"], .newClient .line label[for="phone2Deliver"], .newClient .line label[for="faxDeliver"] {
  width: 48.97959%;
  float: right;
  margin-right: 0;
}
/* line 136, ../sass/splash.scss */
.newClient .line label[for="fonction"] {
  display: none;
}
/* line 139, ../sass/splash.scss */
.newClient .line #prefixeTva {
  width: 12%;
}
/* line 142, ../sass/splash.scss */
.newClient .line #tva {
  width: 88%;
}
/* line 145, ../sass/splash.scss */
.newClient .line label[for="logo"] {
  position: relative;
  cursor: pointer;
}
/* line 148, ../sass/splash.scss */
.newClient .line label[for="logo"] span {
  color: #cad0d6;
  position: absolute;
  line-height: 21px;
  bottom: 0;
  text-align: center;
  background-color: #2a4158;
  display: block;
  width: 100%;
}
/* line 160, ../sass/splash.scss */
.newClient #logo {
  outline: none;
  opacity: 0;
}
/* line 164, ../sass/splash.scss */
.newClient .progress {
  position: absolute;
  bottom: 10%;
  color: #cad0d6;
  background-color: #2a4158;
  border: none;
  height: 22px;
  width: 15%;
  outline: none;
  cursor: pointer;
  text-align: center;
}
/* line 174, ../sass/splash.scss */
.newClient .progress#cancel {
  left: 12.5%;
}
/* line 177, ../sass/splash.scss */
.newClient .progress#submit {
  right: 12.5%;
}
/* line 180, ../sass/splash.scss */
.newClient .progressinput {
  top: 1%;
}
/* line 184, ../sass/splash.scss */
.newClient input[name="client"], .newClient input[name="progress"], .newClient button, .newClient .progress {
  display: none;
}
/* line 187, ../sass/splash.scss */
.newClient input[name="client"]:checked ~ #cancel {
  display: inline-block;
  right: 12.5%;
}
/* line 191, ../sass/splash.scss */
.newClient #particulier:checked ~ #lien2 {
  display: inline-block;
  right: 12.5%;
}
/* line 195, ../sass/splash.scss */
.newClient #society:checked ~ #lien1 {
  display: inline-block;
  right: 12.5%;
}
/* line 199, ../sass/splash.scss */
.newClient #step1:checked ~ #lien2 {
  display: inline-block;
  right: 12.5%;
}
/* line 203, ../sass/splash.scss */
.newClient #step2:checked ~ #lien3 {
  display: inline-block;
  right: 12.5%;
}
/* line 207, ../sass/splash.scss */
.newClient #step3:checked ~ #lien4 {
  display: inline-block;
  right: 12.5%;
}
/* line 211, ../sass/splash.scss */
.newClient #step4:checked ~ #submit {
  display: inline-block;
}
/* line 214, ../sass/splash.scss */
.newClient #particulier:checked ~ fieldset:nth-of-type(2) {
  display: inline-block;
}
/* line 217, ../sass/splash.scss */
.newClient #society:checked ~ fieldset:nth-of-type(1) {
  display: inline-block;
}
/* line 220, ../sass/splash.scss */
.newClient #step1:checked + fieldset:nth-of-type(2) {
  display: inline-block;
}
/* line 223, ../sass/splash.scss */
.newClient #step2:checked + fieldset:nth-of-type(3) {
  display: inline-block;
}
/* line 226, ../sass/splash.scss */
.newClient #step3:checked + fieldset:nth-of-type(4) {
  display: inline-block;
}
/* line 229, ../sass/splash.scss */
.newClient #step4:checked + fieldset:nth-of-type(5) {
  display: inline-block;
}
