/* line 4, ../sass/style_log.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/style_log.scss */
*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 10, ../sass/style_log.scss */
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 13, ../sass/style_log.scss */
body {
  background: #2a4158;
  font-family: "century gothic",arial, sans-serif;
}

/* line 17, ../sass/style_log.scss */
.category {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.category:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, ../sass/style_log.scss */
.category a {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  background: #7c8894;
  color: #2a4158;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  font-size: 2em;
  padding: 30px 0;
  margin-bottom: 70px;
}
/* line 31, ../sass/style_log.scss */
.category a.active {
  background: #e5af28;
  color: #2a4158;
}
/* line 35, ../sass/style_log.scss */
.category a:last-child {
  float: right;
  margin-right: 0;
}

/* line 40, ../sass/style_log.scss */
.logoLogin {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

/* line 46, ../sass/style_log.scss */
.formulaire {
  visibility: visible;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%;
  text-align: center;
  color: #e3e4e6;
}
/* line 54, ../sass/style_log.scss */
.formulaire input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 9px 0;
  padding-left: 7px;
  background: #e3e4e6;
}
/* line 62, ../sass/style_log.scss */
.formulaire a {
  background: #e5af28;
  color: #2a4158;
  text-decoration: none;
  width: 100%;
  text-transform: uppercase;
  display: block;
  padding: 14px 0;
}

@media screen and (min-width: 480px) {
  /* line 74, ../sass/style_log.scss */
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 77, ../sass/style_log.scss */
  .category {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .category:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 81, ../sass/style_log.scss */
  .category a {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 0;
  }
  /* line 84, ../sass/style_log.scss */
  .category a.active {
    background: #e5af28;
    color: #2a4158;
  }
  /* line 88, ../sass/style_log.scss */
  .category a:last-child {
    float: right;
    margin-right: 0;
  }

  /* line 92, ../sass/style_log.scss */
  .logo {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  /* line 96, ../sass/style_log.scss */
  .formulaire {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #e5af28;
    padding: 50px 0;
    border-top: 1px solid #2a4158;
  }
  /* line 102, ../sass/style_log.scss */
  .formulaire input {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 8.47458%;
    margin-bottom: 20px;
    padding: 9px 0;
    padding-left: 7px;
    background: #e3e4e6;
  }
  /* line 111, ../sass/style_log.scss */
  .formulaire .connection {
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #2a4158;
    color: white;
  }
  /* line 117, ../sass/style_log.scss */
  .formulaire a {
    margin-left: 80px;
  }
}
