/* line 5, ../sass/style_factures_list.scss */
nav {
  display: block;
  background-color: #95a0ac;
  position: fixed;
  z-index: 5;
  width: 50px;
  height: 100%;
}
/* line 13, ../sass/style_factures_list.scss */
nav ul {
  margin-top: 50px;
}
/* line 16, ../sass/style_factures_list.scss */
nav ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0px;
}
/* line 28, ../sass/style_factures_list.scss */
nav ul li a {
  background-color: yellow;
  display: inline-block;
  width: 60%;
  height: 60%;
}
/* line 34, ../sass/style_factures_list.scss */
nav ul li a span {
  display: none;
}
/* line 37, ../sass/style_factures_list.scss */
nav ul li a#factures {
  background: url(../images/facture.svg) no-repeat;
}
/* line 44, ../sass/style_factures_list.scss */
nav ul li a#devis {
  background: url(../images/devis.svg) no-repeat;
}
/* line 51, ../sass/style_factures_list.scss */
nav ul li a#myClients {
  background: url(../images/client_icon.svg) no-repeat;
}
/* line 58, ../sass/style_factures_list.scss */
nav ul li a#setting {
  background: url(../images/setting.svg) no-repeat;
}

/* line 74, ../sass/style_factures_list.scss */
.search {
  padding: 60px 10px 0px;
  margin: 0 auto;
  text-align: left;
}
/* line 80, ../sass/style_factures_list.scss */
.search * {
  display: inline-block;
  vertical-align: middle;
}
/* line 84, ../sass/style_factures_list.scss */
.search button {
  border: none;
  background-color: #e5af28;
  padding: 2px;
}
/* line 88, ../sass/style_factures_list.scss */
.search button:hover {
  background-color: aliceblue;
}
/* line 92, ../sass/style_factures_list.scss */
.search p {
  display: none;
  margin-top: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}
/* line 98, ../sass/style_factures_list.scss */
.search input {
  border: none;
  width: 53.38983%;
  float: left;
  margin-right: 1.69492%;
  padding: 15px;
  margin-left: 50px;
}
/* line 105, ../sass/style_factures_list.scss */
.search .labelArrow {
  position: relative;
}
/* line 106, ../sass/style_factures_list.scss */
.search .labelArrow:after {
  content: '';
  font: 11px "Consolas", monospace;
  color: #aaa;
  height: 100%;
  line-height: 100%;
  width: 20px;
  background-color: #95a0ac;
  right: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
}
/* line 125, ../sass/style_factures_list.scss */
.search .labelArrow:after:hover {
  background-color: aliceblue;
}
/* line 132, ../sass/style_factures_list.scss */
.search select {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  position: relative;
  border: none;
  padding: 15px;
  width: 125px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
}
/* line 141, ../sass/style_factures_list.scss */
.search select option {
  display: block;
}
/* line 145, ../sass/style_factures_list.scss */
.search #croissant, .search #decroissant {
  margin-bottom: 5px;
}

/* line 149, ../sass/style_factures_list.scss */
.searchArea {
  width: 300px;
  margin-right: 20px;
}

@media screen and (min-width: 480px) {
  /* line 155, ../sass/style_factures_list.scss */
  nav {
    width: 15.96639%;
    float: left;
    margin-right: 0.84034%;
    width: 172px;
    background: #95a0ac;
    height: 100%;
    position: fixed;
    display: block;
    top: 100px;
  }
  /* line 163, ../sass/style_factures_list.scss */
  nav .h1Border {
    border-bottom: 2px solid #2a4158;
    border-top: 2px solid #2a4158;
    letter-spacing: 3px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 25px;
    background: #e5af28;
  }
  /* line 172, ../sass/style_factures_list.scss */
  nav ul {
    margin-top: 0px;
  }
  /* line 174, ../sass/style_factures_list.scss */
  nav ul li {
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }
  /* line 178, ../sass/style_factures_list.scss */
  nav ul li a {
    display: inline-block;
  }
  /* line 180, ../sass/style_factures_list.scss */
  nav ul li a:hover {
    background-color: red;
  }
  /* line 183, ../sass/style_factures_list.scss */
  nav ul li a span {
    display: block;
  }
  /* line 189, ../sass/style_factures_list.scss */
  nav a {
    display: block;
    height: 50px;
    padding-left: 65px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    color: #2a4158;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 202, ../sass/style_factures_list.scss */
  nav li {
    text-decoration: none;
    color: #2a4158;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 210, ../sass/style_factures_list.scss */
  nav #factures {
    background: url(../images/facture.svg) no-repeat;
    margin-left: 15px;
    float: left;
    width: 50px;
    height: 50px;
  }
  /* line 218, ../sass/style_factures_list.scss */
  nav #devis {
    background: url(../images/devis.svg) no-repeat;
    margin-left: 15px;
    float: left;
    width: 50px;
    height: 50px;
  }
  /* line 226, ../sass/style_factures_list.scss */
  nav #myClients {
    background: url(../images/client_icon.svg) no-repeat;
    margin-left: 15px;
    float: left;
    width: 40px;
    height: 40px;
  }
  /* line 234, ../sass/style_factures_list.scss */
  nav #setting {
    background: url(../images/setting.svg) no-repeat;
    margin-left: 15px;
    float: left;
    width: 50px;
    height: 50px;
  }
  /* line 241, ../sass/style_factures_list.scss */
  nav #setting a {
    padding-top: 25px;
  }

  /* line 246, ../sass/style_factures_list.scss */
  section {
    z-index: 999;
    width: 940px;
    position: fixed;
    font-size: 12px;
    top: 100px;
    text-align: right;
  }
  /* line 259, ../sass/style_factures_list.scss */
  section ul {
    padding-top: 170px;
  }

  /* line 264, ../sass/style_factures_list.scss */
  .blue2 {
    background: #2a4158;
    width: 100%;
    height: 10px;
    margin-left: 198px;
  }

  /* line 270, ../sass/style_factures_list.scss */
  .search {
    padding: 10px;
    background: #95a0ac;
    margin-left: 198px;
    text-align: left;
  }
  /* line 275, ../sass/style_factures_list.scss */
  .search * {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 280, ../sass/style_factures_list.scss */
  .search button {
    border: none;
    background-color: #e5af28;
    padding: 2px;
  }
  /* line 284, ../sass/style_factures_list.scss */
  .search button:hover {
    background-color: aliceblue;
  }
  /* line 288, ../sass/style_factures_list.scss */
  .search p {
    display: inline-block;
    margin-top: 0px;
    margin-right: 15px;
    text-transform: uppercase;
  }
  /* line 294, ../sass/style_factures_list.scss */
  .search input {
    border: none;
    width: 50%;
    padding: 5px;
  }
  /* line 299, ../sass/style_factures_list.scss */
  .search .labelArrow {
    position: relative;
  }
  /* line 300, ../sass/style_factures_list.scss */
  .search .labelArrow:after {
    content: '';
    font: 11px "Consolas", monospace;
    color: #aaa;
    height: 100%;
    line-height: 100%;
    width: 20px;
    background-color: #2a4158;
    right: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
  }
  /* line 318, ../sass/style_factures_list.scss */
  .search .labelArrow:after:hover {
    background-color: aliceblue;
  }
  /* line 325, ../sass/style_factures_list.scss */
  .search select {
    position: relative;
    border: none;
    padding: 5px;
    margin-top: 0px;
    width: 125px;
    -webkit-appearance: none;
    /*Removes default chrome and safari style*/
    -moz-appearance: none;
    /*Removes default style Firefox*/
  }
  /* line 334, ../sass/style_factures_list.scss */
  .search select option {
    display: block;
  }
  /* line 338, ../sass/style_factures_list.scss */
  .search #croissant, .search #decroissant {
    margin-bottom: 5px;
  }

  /* line 342, ../sass/style_factures_list.scss */
  .searchArea {
    width: 300px;
    margin-right: 20px;
  }
}
