/* line 5, ../sass/style_index.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style_index.scss */
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 15, ../sass/style_index.scss */
body {
  background: #2a4158;
  font-family: "century gothic", arial, sans-serif;
  text-align: center;
}

/* line 21, ../sass/style_index.scss */
body * {
  font-family: "century gothic", arial, sans-serif;
}

/* line 25, ../sass/style_index.scss */
.container {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 28, ../sass/style_index.scss */
.container h2 {
  font-size: 24px;
  color: #2a4158;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 35, ../sass/style_index.scss */
.container > div {
  width: 300px;
  height: 200px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 60px;
}
/* line 42, ../sass/style_index.scss */
.container > div > p {
  display: none;
}

/* line 73, ../sass/style_index.scss */
.logo img {
  width: 300px;
  margin: 60px 0px;
}

/* line 78, ../sass/style_index.scss */
.logoHeader {
  position: fixed;
  width: 100%;
  background-color: #e5af28;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 50px;
  margin-top: 0px;
  text-align: left;
  z-index: 150;
}
/* line 88, ../sass/style_index.scss */
.logoHeader img {
  margin-top: 5px;
  margin-left: 10px;
}

/* line 94, ../sass/style_index.scss */
.logoLogin {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 0 15px;
}
/* line 101, ../sass/style_index.scss */
.logoLogin img {
  padding: 0 15px;
}

/* line 106, ../sass/style_index.scss */
.formulaire {
  visibility: visible;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #e3e4e6;
}
/* line 113, ../sass/style_index.scss */
.formulaire input {
  width: 80%;
  margin-bottom: 20px;
  border: none;
  padding: 9px 0;
  padding-left: 7px;
  background: #e3e4e6;
}
/* line 131, ../sass/style_index.scss */
.formulaire .connection {
  text-transform: uppercase;
  padding: 20px 0;
  background-color: #2a4158;
  color: white;
}
/* line 137, ../sass/style_index.scss */
.formulaire a {
  margin-left: 80px;
}

/* line 144, ../sass/style_index.scss */
button {
  width: 100%;
  height: 100%;
  border: none;
}
/* line 149, ../sass/style_index.scss */
button:hover {
  cursor: pointer;
}
/* line 153, ../sass/style_index.scss */
button img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 210, ../sass/style_index.scss */
.or {
  display: none;
  visibility: hidden;
}

/* line 216, ../sass/style_index.scss */
.client .active {
  background-color: #e5af28 !important;
  visibility: visible;
  -webkit-transition: background-color 0.5s, visibility 0.5s;
  -o-transition: background-color 0.5s, visibility 0.5s;
  transition: background-color 0.5s, visibility 0.5s;
}
/* line 223, ../sass/style_index.scss */
.client .active img:hover {
  -webkit-animation: arrowAnim 0.5s 1 forwards;
  animation: arrowAnim 0.5s 1 forwards;
}
@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/* line 258, ../sass/style_index.scss */
.client .inactive {
  background-color: #e3e4e6;
  visibility: visible;
}
/* line 263, ../sass/style_index.scss */
.client .formulaire.inactive {
  visibility: hidden;
}
/* line 266, ../sass/style_index.scss */
.client .formulaire.active {
  margin-bottom: 50px;
}

/* line 271, ../sass/style_index.scss */
.pro {
  color: #2a4158;
}
/* line 274, ../sass/style_index.scss */
.pro .active {
  background-color: #e5af28 !important;
  visibility: visible;
  -webkit-transition: background-color 0.5s, visibility 0.5s;
  -o-transition: background-color 0.5s, visibility 0.5s;
  transition: background-color 0.5s, visibility 0.5s;
}
/* line 281, ../sass/style_index.scss */
.pro .active img:hover {
  -webkit-animation: arrowAnim 0.5s 1 forwards;
  animation: arrowAnim 0.5s 1 forwards;
}
@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/* line 316, ../sass/style_index.scss */
.pro .inactive {
  background-color: #e3e4e6;
  visibility: visible;
}
/* line 321, ../sass/style_index.scss */
.pro .formulaire.inactive {
  visibility: hidden;
}
/* line 324, ../sass/style_index.scss */
.pro .formulaire.active {
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  /* line 334, ../sass/style_index.scss */
  .logoHeader {
    position: fixed;
    width: 100%;
    background-color: #e5af28;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
    z-index: 150;
  }
  /* line 344, ../sass/style_index.scss */
  .logoHeader img {
    margin-top: 5px;
    margin-left: 0px;
  }

  /* line 365, ../sass/style_index.scss */
  .logo {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  /* line 369, ../sass/style_index.scss */
  .logoLogin {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0 15px;
  }

  /* line 376, ../sass/style_index.scss */
  .formulaire {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 50px 0;
    border-top: 1px solid #2a4158;
  }
  /* line 383, ../sass/style_index.scss */
  .formulaire input {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 8.47458%;
    margin-bottom: 20px;
    padding: 9px 0;
    padding-left: 7px;
    background: #e3e4e6;
  }
  /* line 392, ../sass/style_index.scss */
  .formulaire .connection {
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #2a4158;
    color: white;
  }
  /* line 398, ../sass/style_index.scss */
  .formulaire a {
    margin-left: 80px;
  }

  /* line 403, ../sass/style_index.scss */
  .client {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    text-align: center;
  }

  /* line 408, ../sass/style_index.scss */
  .or {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #e3e4e6;
    left: calc(50% - 40px);
    top: 300px;
    z-index: 100;
    background: #2a4158;
  }

  /* line 421, ../sass/style_index.scss */
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 422, ../sass/style_index.scss */
  .container .listing {
    padding-bottom: 190px;
  }
  /* line 425, ../sass/style_index.scss */
  .container .listingTitle {
    padding-top: 20px;
  }
  /* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 430, ../sass/style_index.scss */
  .container > div {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    margin-left: 0;
    height: 200px;
  }
  /* line 437, ../sass/style_index.scss */
  .container > div img {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  /* line 442, ../sass/style_index.scss */
  .container > div.client .active {
    background-color: #e5af28 !important;
    visibility: visible;
  }
  /* line 446, ../sass/style_index.scss */
  .container > div.client .inactive {
    background-color: #e3e4e6;
  }
  /* line 451, ../sass/style_index.scss */
  .container > div.pro {
    float: right;
    margin-right: 0;
    color: #2a4158;
  }
  /* line 454, ../sass/style_index.scss */
  .container > div.pro .active {
    background-color: #e5af28;
    visibility: visible;
  }
  /* line 458, ../sass/style_index.scss */
  .container > div.pro .inactive {
    background-color: #e3e4e6;
  }
  /* line 463, ../sass/style_index.scss */
  .container > div > p {
    display: unset;
  }
  /* line 467, ../sass/style_index.scss */
  .container a {
    text-decoration: none;
    color: #2a4158;
  }
  /* line 471, ../sass/style_index.scss */
  .container h2 {
    margin-top: 0px;
    font-size: 24px;
  }
}
