/* line 5, ../sass/style_index.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style_index.scss */
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 15, ../sass/style_index.scss */
body {
  background: #2a4158;
  font-family: "century gothic", arial, sans-serif;
  text-align: center;
}

/* line 21, ../sass/style_index.scss */
.container {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../sass/style_index.scss */
.container h2 {
  font-size: 24px;
  color: #2a4158;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 30, ../sass/style_index.scss */
.container > div {
  width: 300px;
  height: 200px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 60px;
}
/* line 37, ../sass/style_index.scss */
.container > div > p {
  display: none;
}

/* line 46, ../sass/style_index.scss */
.logo img {
  width: 300px;
  margin: 60px 0px;
}

/* line 51, ../sass/style_index.scss */
.logoLogin {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

/* line 57, ../sass/style_index.scss */
.formulaire {
  visibility: visible;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%;
  text-align: center;
  color: #e3e4e6;
}
/* line 65, ../sass/style_index.scss */
.formulaire input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  padding: 9px 0;
  padding-left: 7px;
  background: #e3e4e6;
}
/* line 73, ../sass/style_index.scss */
.formulaire a {
  background: #e5af28;
  color: #2a4158;
  text-decoration: none;
  width: 100%;
  text-transform: uppercase;
  display: block;
  padding: 14px 0;
}

/* line 84, ../sass/style_index.scss */
button {
  width: 100%;
  height: 100%;
  background-color: #e5af28;
  border: none;
}
/* line 89, ../sass/style_index.scss */
button:hover {
  cursor: pointer;
}
/* line 93, ../sass/style_index.scss */
button img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 99, ../sass/style_index.scss */
button img:hover {
  -webkit-animation: arrowAnim 0.5s 1 forwards;
  animation: arrowAnim 0.5s 1 forwards;
}
@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
}
@keyframes arrowAnim {
  0% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
  }
}
/* line 139, ../sass/style_index.scss */
.client.active {
  background: #e5af28;
  color: white;
}

/* line 146, ../sass/style_index.scss */
.pro {
  height: 260px;
}

@media screen and (min-width: 480px) {
  /* line 153, ../sass/style_index.scss */
  .logoHeader {
    position: fixed;
    width: 100%;
    background-color: #e5af28;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
    z-index: 150;
  }
  /* line 163, ../sass/style_index.scss */
  .logoHeader img {
    margin-top: 5px;
  }

  /* line 168, ../sass/style_index.scss */
  .category {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .category:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 172, ../sass/style_index.scss */
  .category a {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 0;
  }
  /* line 175, ../sass/style_index.scss */
  .category a.active {
    background: #e5af28;
    color: #2a4158;
  }
  /* line 179, ../sass/style_index.scss */
  .category a:last-child {
    float: right;
    margin-right: 0;
  }

  /* line 183, ../sass/style_index.scss */
  .logo {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  /* line 188, ../sass/style_index.scss */
  .formulaire {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #e5af28;
    padding: 50px 0;
    border-top: 1px solid #2a4158;
  }
  /* line 195, ../sass/style_index.scss */
  .formulaire input {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 8.47458%;
    margin-bottom: 20px;
    padding: 9px 0;
    padding-left: 7px;
    background: #e3e4e6;
  }
  /* line 204, ../sass/style_index.scss */
  .formulaire .connection {
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #2a4158;
    color: white;
  }
  /* line 210, ../sass/style_index.scss */
  .formulaire a {
    margin-left: 80px;
  }

  /* line 215, ../sass/style_index.scss */
  .client {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    text-align: center;
    position: relative;
  }

  /* line 220, ../sass/style_index.scss */
  .or {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #e3e4e6;
    left: calc(100% - (80px /3));
    top: calc(50% - 40px);
    z-index: 100;
    background: #2a4158;
  }

  /* line 233, ../sass/style_index.scss */
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 234, ../sass/style_index.scss */
  .container .listing {
    padding-top: 170px;
  }
  /* line 12, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 238, ../sass/style_index.scss */
  .container > div {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
    position: relative;
    margin-left: 0;
    height: 200px;
  }
  /* line 245, ../sass/style_index.scss */
  .container > div img {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  /* line 249, ../sass/style_index.scss */
  .container > div.pro {
    float: right;
    margin-right: 0;
    background: aliceblue;
    color: #2a4158;
  }
  /* line 253, ../sass/style_index.scss */
  .container > div.pro .inactive {
    visibility: hidden;
  }
  /* line 257, ../sass/style_index.scss */
  .container > div > p {
    display: unset;
  }
  /* line 261, ../sass/style_index.scss */
  .container a {
    text-decoration: none;
    color: #2a4158;
  }
  /* line 265, ../sass/style_index.scss */
  .container h2 {
    margin-top: 0px;
    font-size: 24px;
  }
}
