<linkhomepro></linkhomepro>

<navbarpro></navbarpro>
<search-bar></search-bar>

<h1 style="background-color:#d6eaf8;">Mon profile</h1>

<form action="">
		<fieldset>
		<legend>Société</legend>
			<label for="">Dénomination sociale</label><br/>
			<input name="" id="" placeholder="">
		</fieldset>
		<fieldset>
		<legend>TVA</legend>
			<label for="">N° de TVA</label><br/>
			<select name="" id="">
				<option value="">BE</option>
				<option value="">FR</option>
				<option value="">EN</option>
			</select>
			<input name="" id="" placeholder=""><br/>
			<label for="">N°SIREN</label><br/>
			<input name="" id="" placeholder=""><br/>
			<label for="">N°RCS</label><br/>
			<input name="" id="" placeholder=""><br/>
		</fieldset>
</form>

<profiledashboard></profiledashboard>


<button><a href="#/pro/profile/profile.html">Retour à mon profile</a></button>