<linkhomepro></linkhomepro>

<navbarpro></navbarpro>

<div class="profilePro">

<div class="warpper">

	<div class="contener">

		<a href="#"><div class="coordonnee">
			<img src="images/edit.svg">
			<h2>Coordonée</h2>			
		</div></a>


		<div class="coordonneeCont">

			<img src="images/admin/profile/{{details.logo}}" alt="Logo Entreprise" width="92" height="92" >			

			<div class="info">
				<h3>{{details.name}}</h3>
					<p>
						Adresse : {{details.contact.street}} n° {{details.contact.number}}<span ng-if="details.contact.box">, boite {{details.contact.box}}</span><br>
						Code postal : {{details.contact.zip}}<br>
						Localité : {{details.contact.town}}<br>
						Pays : {{details.contact.country}}<br> 
						Telephone principal : {{details.contact.phoneMain}}<br>
						<span ng-if="details.contact.phoneSec">Telephone secondaire : {{details.contact.phoneSec}}<br></span>
						<span ng-if="details.contact.fax">Fax : {{details.contact.fax}}<br></span>
						Email : {{details.contact.mail}}<br>
						Site web : {{details.contact.web}}<br>						
					</p>				
			</div>

			<div class="tva">
				
				<p>
					n° TVA : {{details.vat.num}}<br>
					<span ng-if="details.vat.siren">n° SIREN : {{details.vat.siren}}</span><br>
					<span ng-if="details.vat.rcs">n° RCS : {{details.vat.rcs}}</span><br>
				</p>

			</div>

			

			<!-- <div class="savecoordonnee">
				<p>sauvegarder</p>
			</div> -->

		</div>





		<a href="#"><div class="contact">
			<img src="images/edit.svg">
			<h2>Personne de contact</h2>			
		</div></a>

		<div class="contactCont">					
				
					<h3>
					{{details.contactPerson.civility}} {{details.contactPerson.firstname}} {{details.contactPerson.lastname}}</h3><br>
					<p>Email : {{details.contactPerson.mail}}<br>
					Tél : {{details.contactPerson.phoneMain}}<br>
					<span ng-if="details.contactPerson.phoneSec">Téléphone secondaire : {{details.contactPerson.phoneSec}}</span><br>
					Fonction : {{details.contactPerson.post}}
					</p>				

			
			<!-- <div class="savecoordonnee1">
				<p>sauvegarder</p>
			</div> -->

		</div>






		<a href="#"><div class="payment">
			<img src="images/edit.svg">
			<h2>Informations de paiement</h2>			
		</div></a>

		<div class="paymentCont">

			<ul>
				<li>Compte principal</li>
				<li>IBAN/RIB</li>
				<li>BIC</li>				
			</ul>				
			

			<div class="payment1">

				<ul>
					<li>Compte Paypal</li>					
				</ul>			

			</div>

			<!-- <div class="ajouter">				
				<p>+</p><p>Ajouter</p>
			</div> -->

			<!-- <div class="savecoordonnee3">
				<p>sauvegarder</p>
			</div> -->

		</div>









		<a href="#"><div class="article">
			<img src="images/edit.svg">
			<h2>Article</h2>			
		</div></a>

		<div class="articleCont">

			<div class="articletitle">			
				<ul>
					<li>Article</li>
					<li>Description</li>
					<li>Montant P/U</li>
				</ul>
			</div>

			<div class="article1">
				<ul>
					<li>Chaise en bois</li>
					<li>Bies chaise en bois</li>
					<li>10€</li>
				</ul>				
			</div>

			<div class="article2">
				<ul>
					<li>Chaise en plastic</li>
					<li>Bies chaise en plastoc</li>
					<li>7€</li>
				</ul>				
			</div>



			

			<!-- <div class="ajouter">				
				<p>+</p><p>Ajouter</p>
			</div> -->

			<!-- <div class="savecoordonnee4">
				<p>sauvegarder</p>
			</div> -->
				
		</div>






	<a href="#"><div class="template">
		<img src="images/edit.svg">
		<h2>Design</h2>			
	</div></a>

	<div class="templateCont">


			<div class="fact">			
				<h3>Template facture</h3>
			</div>

			<div class="designfacture">
				<!-- <div class="f01"></div>
				<div class="f02"></div> -->
				<div class="f03"></div>
				<!-- <div class="f05"></div>
				<div class="f06"></div>
				<div class="f04"></div>
				<div class="f07"></div>
				<div class="f08"></div>
				<div class="f09"></div>
				<div class="f10"></div>	 -->			
			</div>		
			


			<div class="dev">
				<h3>Template devis</h3>
			</div>

			<div class="designdevis">
				<!-- <div class="f01"></div> -->
				<div class="f02"></div>
				<!-- <div class="f03"></div>
				<div class="f04"></div>
				<div class="f05"></div>
				<div class="f06"></div>
				<div class="f07"></div>
				<div class="f08"></div>
				<div class="f09"></div>
				<div class="f10"></div>	 -->			
			</div>				

			<!-- <div class="savecoordonnee5">
				<p>sauvegarder</p>
			</div> -->


	</div>	


	</div>

</div>



</div>








<!-- <search-bar></search-bar> -->

<!-- <h1 style="background-color:#d6eaf8;">Mon profile</h1>

<form action="">
		<fieldset>
		<legend>Société</legend>
			<label for="">Dénomination sociale</label><br/>
			<input name="" id="" placeholder="">
		</fieldset>
		<fieldset>
		<legend>TVA</legend>
			<label for="">N° de TVA</label><br/>
			<select name="" id="">
				<option value="">BE</option>
				<option value="">FR</option>
				<option value="">EN</option>
			</select>
			<input name="" id="" placeholder=""><br/>
			<label for="">N°SIREN</label><br/>
			<input name="" id="" placeholder=""><br/>
			<label for="">N°RCS</label><br/>
			<input name="" id="" placeholder=""><br/>
		</fieldset>
</form>

<profiledashboard></profiledashboard>


<button><a href="#/pro/profile/profile.html">Retour à mon profile</a></button> -->