<linkhomepro></linkhomepro>

<navbarpro></navbarpro>
<searchbarpro></searchbarpro>

<div>
	<div class="container">
		<section>
			<a href="#/pro/estimate/add" id="moreClient">+ devis</a>
		</section>
		<div class="listing">
			<div class="listItem">
				<div class="blocItem">
					<span class="itemDatas blocDate">Numéro</span>
					<span class="itemDatas blocCompany">Client</span>
					<span class="itemDatas blocInvoiceNumber">Date de création</span>
					<!--<span class="itemDatas blocInvoiceNumber">Payé</span>-->
				</div>
			</div>
		</div>
		<ul class="listing">     <!-- Liste des devis -->
			<li ng-repeat="item in listEstimates | filter: filter | orderBy : order:direction">
				<div class="listItem">
					<div class="blocItem">
						<span class="itemDatas blocDate">{{item.link}}</span>
						<span class="itemDatas blocCompany">{{item.clientName}}</span>
						<span class="itemDatas blocInvoiceNumber">{{item.createdAt}}</span>
						<!--<span class="itemDatas blocInvoiceNumber">{{item.state}}</span>-->
					</div>
					<!-- <div class="listNote">
					<p>{{item.note}}</p>
					</div> -->
					<!-- <button class="reveal">v</button> -->
				</div>
				
				<a href="documents/estimates/{{item.clientId}}/{{item.link}}.pdf" class="moreInfos">
					Ouvrir le PDF
				</a>
			</li>
		</ul> <!-- Fin de liste des devis -->
	</div>
</div>
