<linkhomeclient></linkhomeclient>



<div ng-controller="profile">
    <div class="container">
        <span class="navigation">
            <a href="#/client/invoice/list">
                <h2>Mes factures</h2>
                <img src="images/facture.svg" alt="factures" width="100">
            </a>
        </span>
        <span class="navigation">
            <a href="#/client/estimate/list">
                <h2>Mes devis</h2>
                <img src="images/devis.svg" alt="devis" width="100">
            </a>
        </span>
        <span class="navigation">
            <a href="#/client/profile/infos">
                <h2>Mon compte</h2>
                <img src="images/setting.svg" alt="setting" width="100">
            </a>
        </span>
    </div>
</div>
