<navbarpro></navbarpro>


<div class="contner">

            
                <div class="add">                    
                        <p>+</p>
                        <p>client</p>                                 
                </div>

                <div class="contenu">

                    <div class="photo"></div>
                    <div class="nom">
                        <p>Monsieur</p>
                        <p>Chuck</p>
                        <p>Norris</p> 
                        <p>particulier</p>
                    </div>

                    <div class="telephone">
                        <p>Téléphone principal <br>
                        0499/123456</p>
                        <p>Téléphone secondaire <br>
                        0499/123456</p>
                        <p>chuck_norris@dtc.com</p>                        
                    </div>  






                    <div class="barre1"></div>






                    <div class="facturation"><p>Coordonnées de facturation</p></div>

                    <div class="nomfactliv">

                    	<p>Monsieur</p>
                        <p>Chuck</p>
                        <p>Norris</p>
                    	
                    </div>                   

                    <div class="colone3">

                    	<p>Rue</p>
                        <p>n°</p>
                        <p>bte</p>
                        <p>code postal</p>
                        <p>localité</p>                    	

                    </div>

                    <div class="colone2">

                    	<p>Pays</p>
                        <p>chuck_norris@dtc.com</p>
                        <p>Principal : 0499/123456</p>
                        <p>Secondaire : 0499/123456</p>
                        <p>fax</p>                    	

                    </div>






                     <div class="barre2"></div>








                     <div class="livraison"><p>Coordonnées de livraison</p></div>

                     <div class="nomfactliv">

                    	<p>Monsieur</p>
                        <p>Chuck</p>
                        <p>Norris</p>
                    	
                    </div> 

                    <div class="colone3livraison">

                    	<p>Société</p>
                        <p>rue</p>
                        <p>n°</p>
                        <p>bte</p>                     	

                    </div>

                    <div class="colone2">

                    	<p>Code postal</p>
                        <p>localité</p>
                        <p>pays</p>                                          	

                    </div>

                </div>
            
            
			


                <div class="section">
                
                    <div class="searchdetail">          
                        <input type="text" class="searchArea" ng-model='filter' placeholder="Recherche: Entreprise,Date,N° facture">
                        <button>
                            <img src="images/recherche.jpg" alt="search" />
                        </button>
                        Ordonner par
                        <label class="labelArrow">
                            <select name="" id="">
                                <option value="">Entreprise</option>
                                <option value="">Date</option>
                                <option value="">Numéro de facture</option>
                            </select>
                        </label>
                        <label for="croissant"><input type="radio" name="order" id="croissant" value="Croissant" checked>Croissant</label>
                        <label for="decroissant"><input type="radio" name="order" id="decroissant" value="Décroissant">  Décroissant</label>
                    </div> <!-- Fin de search -->
                </div>

            </div>
        