<linkhomepro></linkhomepro>

<navbarpro></navbarpro>
<moreclient></moreclient>
<searchbarpro>
	
</searchbarpro>


<!-- href="#/pro/clients/add"  Lien de la vue add Client-->
<div>

	<div class="container">
	<!-- <section>
		<a ng-click="splash(true)"  id="moreClient">+ client</a>
	</section> -->
	<a ng-click="splash(true)" class="addElemBtn">+ client</a>
		<ul class="listingTitle">
			<li>
				<div class="listItem">
					<div class="blocItem">
						<span class="itemDatas focusItem">Numéro</span>
						<span class="itemDatas focusItem">Client</span>
						<span class="itemDatas focusItem">Date de création</span>
						<span class="itemDatas focusItem">Date d'inscription</span>
						<!--<span class="itemDatas blocInvoiceNumber">Payé</span>-->
					</div>
				</div>
			</li>
		</ul>
		<ul class="listingTitle">   <!-- Liste des clients -->
		            <li ng-repeat="item in listClients | filter: filter">
		                <div class="listItem">
		                    <div class="blocItem">
		                        <div class="itemDatas blocDate">{{item.name}}</div>
		                        <div class="itemDatas blocCompany">{{item.contactPerson.mail}}</div>
		                        <div ng-show="item.isCompany" class="itemDatas blocInvoiceNumber">Société</div>
								<div ng-hide="item.isCompany" class="itemDatas blocInvoiceNumber">Particulier</div>
								<div class="itemDatas blocDate">{{item.createdAt | date:'dd-MM-yyyy'}}</div>
		                    </div>
		                    <!-- <div class="listNote">
		                    <p>{{item.memo}}</p>
		                    </div> -->
		                    <!-- <button class="reveal">v</button> -->

		                <a href="#/pro/clients/detail/{{listClients.indexOf(item)}}" class="moreInfos">
		                    Plus d'infos
		                </a>
		                </div>

		            </li>
		</ul> <!-- Fin de liste des clients -->
	</div>
</div>