<linkhomepro></linkhomepro>

<navbarpro></navbarpro>
<div class="container">


	<h1 style="background-color:#d6eaf8;">Création de nouvelle facture</h1>
	<form class="addInvoice" name="formAddInvoice" ng-submit="addBill(formAddInvoice.$valid)">
		<fieldset class="ref_fact">
			<legend>Références facture</legend>
			<label for="numFacture">Numéro de facture</label>
			<input type="text" ng-model="newBill.numFacture">
			<label for="dateFacture">Date de la facture</label>
			<input type="date" ng-model="newBill.dateFacture">
		</fieldset>
		<fieldset class="ref_client">
			<legend>Références client</legend>
			<div class="half">
				<label for="estimate">Devis n°</label><br/>
				<select name="Devis" id="estimate" ng-model="newBill.estimate" ng-options="estimate.link for estimate in newBill.client.quotations">
			</select>
				<!--<p>{{listClients[newBill.client]}}</p>-->
			</div>
			<div class="half">
				<label for="client">Client</label><br/>
				<select name="client" id="client" ng-model="newBill.client" ng-options="client as client.name for client in listClients"></select>
				<!--<p>{{newBill.client}}</p>-->
			</div>
			
			<label for="client">PO</label><br/>

			<input name="Client" id="client" class="cent" ng-model="newBill.po" ng-value="newBill.client._id" disabled><br/>
			
			<button type="next" class="next">Suivant</button>

		</fieldset>
		<fieldset>
			<legend>Objet</legend>
			<label for="project-name">Nom du projet</label><br/>
			<input name="Nom du projet" id="project-name" placeholder="" class="cent"><br/>
			<div class="half">
				<label for="starting-date ">Date de début</label><br/>
				<input type="date" name="Date de début" id="starting-date " placeholder=""><br/>
			</div>
			<div class="half last">
				<label for="ending-date">Date de fin</label><br/>
				<input type="date" name="Date de fin" id="ending-date" placeholder=""><br/>
			</div>
			<button type="" class="next">Suivant</button>
		</fieldset>
		<fieldset>
			<legend>Détail</legend>
			<div id="facture_list">
				<!-- list the articles added in the temp array -->
				<div class="listing_achat">
				<ul class="elements-types">
					<li ng-repeat="item in articles track by $index">
						<input type="" name="name" class="full" value="{{item.name}}" disabled> 
						<input type="" name="description" class="full" value="{{item.description}}" disabled> 
						<input type="" name="quantity" class="quart" id="quart1" value="{{item.quantity}}" disabled> 
						<input type="" name="unitPrice" class="quart" id="quart2" value="{{item.unitPrice}}" disabled>
						<input type="" name="amount" class="full" value="{{item.amount}}" id="amount" disabled><!--
						--><span id="less" ng-click="removeElement('article', $index)"> - </span>
					</li>
				</ul>
				</div>
				<div class="facture" id="facture">
					<div class="article">
						<label for="article">Article</label>
						<select name="Article" id="article" ng-model="newBill.article" ng-options="article as article.name for article in adminfromdb.articles"></select>
					</div>
					<div class="description">
						<label for="description">Description</label>
						<input name="Description" id="description" placeholder="" ng-model="newBill.description" ng-value="newBill.article.description" disabled>
					</div>
					<div class="small">
						<label for="quantity">Qté</label>
						<input type="number" name="Quantité" id="quantity" ng-model="newBill.article.quantity" ng-change="calcAmount()" ng-value="newBill.article.quantity">
					</div>
					<div class="small">
						<label for="p-u">P/U</label>
						<input name="P/U" id="p-u" placeholder="" ng-model="newBill.article.unitPrice" ng-value="newBill.article.unitPrice" disabled>
					</div>
					<div class="bill">
						<label for="amount">Montant (€)</label>
						<input name="Montant" id="amount" ng-model="newBill.article.amount" ng-value="newBill.article.amount" disabled>
					</div>
				</div>
			</div>
			<button type="button" class="more_line" ng-click="addElement('article')">+ Ajouter</button>
			<div class="total">

				<div class="htva">
					<label for="total xvat">Total hors taxes</label>
					<input name="Total hors Taxes" id="total xvat" placeholder="" ng-model="newBill.totalXvat" ng-value="newBill.totalXvat" disabled>
				</div>
				<div class="rebate">
					<label for="rebate">Ristourne</label>
					<input name="Ristourne" id="rebate" ng-model="newBill.refund">
					<select name="percent" id="rebate" ng-model="newBill.refundCur" ng-options="refund for refund in paramFromDb.refunds">
			</select>
				</div>
				<div class="subtotal">
					<label for="sous-total">Sous-total hors taxes</label>
					<input name="Sous-Total hors taxes" id="sous-total" ng-model="newBill.underTotalXvat" ng-value="newBill.underTotalXvat" disabled >

				</div>
				<div class="tva">
					<label for="tva-21">TVA 21%</label>
					<input name="TVA 21%" id="tva-21" ng-model="newBill.tva" ng-value="newBill.tva" disabled>
				</div>

				<div class="ttc">

					<label for="total-ttc">Total TTC</label>
					<input name="Total TTC" id="total-ttc" ng-model="newBill.totalTtc" ng-value="newBill.totalTtc" disabled>
				</div>
				<div class="deposit">
					<label for="deposit">Accompte</label>
					<input name="Acompte" id="deposit" ng-model="newBill.deposit" ng-value="newBill.deposit" ng-change="calcAmount()">
				</div>


				<div class="sum">
					<label for="sum">A payer</label>
					<input name="A payer" id="sum" ng-model="newBill.sum" ng-value="newBill.sum" disabled>
				</div>

				<button type="" class="next">Suivant</button>
		</fieldset>
		<fieldset id="commitment">
			<legend>Informations et règles de paiement</legend>
			<div class="commitment">
				<label for="financial commitment">Echéance</label><br/>
				<select name="Echéance" id="financial commitment" ng-model="newBill.rules" ng-options="rule for rule in paramFromDb.rules">
	
			</select>
			</div>
			<div class="payment half">
				<label for="primary-payment-method">Mode de paiement principal</label><br/>
				<select name="Mode de paiement principal" id="primary-payment-method" ng-model="newBill.primAccount" ng-options="account as account.name for account in listAccounts">
			</select>
			<ul>
				<li ng-if="newBill.primAccount.bic">{{newBill.primAccount.bic}}</li> 
				<li ng-if="newBill.primAccount.iban">{{newBill.primAccount.iban}}</li>
				<li ng-if="newBill.primAccount.mail">{{newBill.primAccount.mail}}</li>
			</ul>
			</div>
			<div class="payment half" id="payement2">
				<label for="secondary-payment-method">Mode de paiement secondaire</label><br/>
				<select name="Mode de paiement secondaire" id="secondary-payment-method" ng-model="newBill.secAccount" ng-options="account as account.name for account in listAccounts">
			</select>
			<ul>
				<li ng-if="newBill.secAccount.bic">{{newBill.secAccount.bic}}</li> 
				<li ng-if="newBill.secAccount.iban">{{newBill.secAccount.iban}}</li>
				<li ng-if="newBill.secAccount.mail">{{newBill.secAccount.mail}}</li>
			</ul>
			</div>

			<button type="" class="next">Suivant</button>
		</fieldset>
		<input type="submit" value="Valider"></input>
	</form>
	</div>