<linkhomepro></linkhomepro>

<navbarpro></navbarpro>
<searchbarpro></searchbarpro>
<div class="container">


	<h1 style="background-color:#d6eaf8;">Création de nouvelle facture</h1>
	<form action="" class="addInvoice">
		<!--<fieldset class="references">
			<legend>Vos références</legend><br>
			<label for="invoice-number">N° de facture</label><br/>
			<input name="Numero de facture" id="invoice-number" placeholder="20136473-023"><br/>
			<label for="invoice-date">Date de la facture</label><br/>
			<input name="Date de la facture" id="invoice-date" placeholder="05-07-2016">
			<button type="" class="next">Suivant</button>
		</fieldset>-->
		<fieldset class="ref_client">
			<legend>Références client</legend>
			<label for="client">Client</label><br/>
			<input name="Client" id="client" placeholder="" class="cent"><br/>
			<div class="half">
				<label for="po">PO</label><br/>
				<select name="PO" id="po" ng-model="newBill.client" ng-options="listClients.indexOf(client) as client.name for client in listClients">
					
			</select>
				<!--<p>{{newBill.client}}</p>-->
			</div>
			<div class="half last">
				<label for="estimate">Devis n°</label><br/>
				<select name="Devis" id="estimate" ng-model="newBill.estimate" ng-options="estimate.link for estimate in listClients[newBill.client].quotations">
			
			</select>
				<!--<p>{{listClients[newBill.client]}}</p>-->
			</div>
			<button type="next" class="next">Suivant</button>

		</fieldset>
		<fieldset>
			<legend>Objet</legend>
			<label for="project-name">Nom du projet</label><br/>
			<input name="Nom du projet" id="project-name" placeholder="" class="cent"><br/>
			<div class="half">
				<label for="starting-date ">Date de début</label><br/>
				<input type="date" name="Date de début" id="starting-date " placeholder=""><br/>
			</div>
			<div class="half last">
				<label for="ending-date">Date de fin</label><br/>
				<input type="date" name="Date de fin" id="ending-date" placeholder=""><br/>
			</div>
			<button type="" class="next">Suivant</button>
		</fieldset>
		<fieldset>
			<legend>Détail</legend>
			<div id="facture_list">
				<div class="facture" id="facture">
					<div class="article">
						<label for="article">Article</label>
						<select name="Article" id="article" ng-model="newBill.article" ng-options="article as article.name for article in adminfromdb.articles">
			</select>
					</div>
					<div class="description">
						<label for="description">Description</label>
						<input name="Description" id="description" placeholder="" ng-model="newBill.description" ng-value="newBill.article.description">
					</div>
					<div class="small">
						<label for="quantity">Qté</label>
						<input type="number" name="Quantité" id="quantity" ng-model="newBill.article.quantity" ng-change="calcAmount()">
					</div>
					<div class="small">
						<label for="p-u">P/U</label>
						<input name="P/U" id="p-u" placeholder="" ng-model="newBill.article.unitPrice" ng-value="newBill.article.unitPrice">
					</div>
					<div class="bill">
						<label for="amount">Montant</label>
						<input name="Montant" id="amount" ng-model="newBill.article.amount" ng-value="newBill.article.amount">
					</div>
				</div>
			</div>
			<button type="button" class="more_line" ng-click="addArticle($event)">+ Ajouter</button>
			<div class="total">

				<div class="htva">
					<label for="total xvat">Total hors Taxes</label>
					<input name="Total hors Taxes" id="total xvat" placeholder="">
				</div>
				<div class="rebate">
					<label for="rebate">Ristourne</label>
					<input name="Ristourne" id="rebate" placeholder="">
					<select name="percent" id="rebate">
				<option value="option 1">%</option>
				<option value="option 2">%</option>
				<option value="option 3">%</option>
			</select>
				</div>
				<div class="subtotal">
					<label for="sous-total">Sous-Total hors taxes</label>
					<input name="Sous-Total hors taxes" id="sous-total" placeholder="">

				</div>
				<div class="tva">
					<label for="tva-21">TVA 21%</label>
					<input name="TVA 21%" id="tva-21" placeholder="">
				</div>

				<div class="ttc">

					<label for="total-ttc">Total TTC</label>
					<input name="Total TTC" id="total-ttc" placeholder="">
				</div>
				<div class="deposit">
					<label for="deposit">Acompte</label>
					<input name="Acompte" id="deposit" placeholder="">
				</div>


				<div class="sum">
					<label for="sum">A payer</label>
					<input name="A payer" id="sum" placeholder="">
				</div>

				<button type="" class="next">Suivant</button>
		</fieldset>
		<fieldset>
			<legend>Informations et règles de paiement</legend>
			<label for="financial commitment">Echéance</label><br/>
			<select name="Echéance" id="financial commitment">
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select><br/>
			<label for="primary-payment-method">Mode de paiement principal</label><br/>
			<select name="Mode de paiement principal" id="primary-payment-method">
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select><br/>
			<label for="secondary-payment-method">Mode de paiement secondaire</label><br/>
			<select name="Mode de paiement secondaire" id="secondary-payment-method">
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select><br/>
			<button type="" class="next">Suivant</button>
		</fieldset>
		<input type="submit" value="Valider"></input>
		<!-- 		<label for="civil">Civilité</label><br/>
			<select name="Civilité" id="civil">
				<option value="Monsieur">Monsieur</option>
				<option value="Madame">Madame</option>
				<option value="Mademoiselle">Mademoiselle</option>
			</select><br/>
			<label for="name">Nom</label><br/>
			<input type="text" id="name"><br/>
			<label for="firstName">Prénom</label><br/>
			<input type="text" id="firstName"><br/>
			<label for="phone">Téléphone</label><br/>
			<input type="text" id="phone"><br/>
			<label for="email">Email</label><br/>
			<input type="text" id="email"><br/>
			<label for="phone2">Téléphone secondaire</label><br/>
			<input type="text" id="phone2"><br/> -->
	</form>
	</div>