<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Devis</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            text-transform : uppercase;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Devis</h1>
    <ul>
        <li>Client : {{clientName}}</li>
        <li>Devis numéro : {{link}}</li>
        <li>Date de création : {{createdAt}}</li>
        <li>Statut : {{state}}</li>
    </ul>
</body>
</html>